{% load i18n %} 

<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Security Objectives" %}</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Dependencies" %}</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Risk Management" %}</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Communication" %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'incidents' %}">{% translate "Incident Notification" %}</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% translate "Security Objectives" %}
    </a>
    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
        <li><a class="btn dropdown-item import_so_declaration" data-bs-toggle="modal" data-bs-target="#import_so_declaration">{% translate "Import" %}</a></li>
    </ul>
  </li>
