{% load i18n %} 

<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Security Objectives" %}</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Dependencies" %}</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Risk Management" %}</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Communication" %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'incidents' %}">{% translate "Incident Notification" %}</a>
</li>