{% load i18n %}
{% if user_modules|length > 1 %}
  <div class="dropdown">
    <button id="module_selector"
            class="nav-link dropdown-toggle fw-bold"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      {{ current_module }}
    </button>
    <ul class="dropdown-menu fit-content" aria-labelledby="module_selector">
      {% for module in user_modules %}
        <li role="presentation">
          <a class="dropdown-item
                    {% if module.name == current_module %}
                      active
                    {% endif %}"
             href="{% url module.type %}"
             type="button"
             onclick="load_spinner();">{{ module.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <li class="nav-item">
    {% for module in user_modules %}
      <a class="nav-link fw-bold"
         href="{% url module.type %}"
         onclick="load_spinner()">{{ module.name }}</a>
    {% endfor %}
  </li>
{% endif %}
