{% extends 'security_objectives/so_dashboard_base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content_new_declaration %}
<div class="me-auto">
    <button type="button" class="btn btn-primary btn-sm create_so_declaration" data-bs-toggle="modal"
        data-bs-target="#create_so_declaration">
        {% translate "New declaration" %}
    </button>
</div>
{% endblock %}

{% block content_filter %}
    {% bootstrap_field filter.form.submitter_user label_class="fw-bold" wrapper_class="mb-3" %}
{% endblock %}

{% block content_table_actions %}
<a class="btn border-0 p-0 text-dark" href="{% url 'so_declaration' %}?id={{ standard.id }}" onclick="load_spinner()">
    {% if standard.status == 'UNDE' %}
    <i class="bi bi-pencil-fill h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Edit' %}">
    </i>
    {% else %}
    <i class="bi bi-eye-fill h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Review' %}">
    </i>
    {% endif %}
</a>
<button class="btn border-0 p-0 text-dark review_comment_so_declaration {% if standard.review_comment or standard.deadline %}text-warning{% else %}text-dark disabled{% endif %}" 
    data-standard-answer-id="{{ standard.id }}"
    data-bs-toggle="modal" data-bs-target="#review_comment_so_declaration">
    <i class="bi bi-envelope-fill h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Review comment' %}">
    </i>
</button>
<a class="btn border-0 p-0" href="{% url 'download_so_declaration_pdf' standard.id %}">
    <i class="custom-icon-pdf h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Download' %}">
    </i>
</a>
<button class="btn border-0 p-0 text-dark copy_so_declaration" data-standard-answer-id="{{ standard.id }}"
    data-bs-toggle="modal" data-bs-target="#copy_so_declaration">
    <i class="bi bi-copy h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Copy' %}">
    </i>
</button>
<a class="btn border-0 p-0 {% if standard.answered_percentage < 100 or not standard.status == 'UNDE' %}text-dark disabled{% else %}text-success{% endif %}"
    href="{% url 'submit_so_declaration' standard.id  %}" aria-disabled="true">
    <i class="bi bi-file-earmark-arrow-up-fill h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Submit' %}">
    </i>
</a>
<button class="btn border-0 p-0 so_access_log" data-standard-answer-id="{{ standard.id }}">
    <i class="custom-icon-log h4"        
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Access Log' %}">
    </i>
</button>
<button class="btn border-0 p-0 delete_so_declaration"
    data-standard-answer-id="{{ standard.id }}"
    data-delete-url="{% url 'delete_so_declaration' 0 %}"
    data-bs-toggle="modal"
    data-bs-target="#delete_so_declaration"
    {% if not standard.status == 'UNDE' %} disabled{% endif %}>
    <i class="custom-icon-trash h4"        
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Delete' %}">
    </i>
</button>
{% endblock %}

<!-- Modals -->
{% block content_modals %}
{{ block.super }}
<div class="modal fade" id="delete_so_declaration" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="delete_so_declaration_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        {% include "modals/delete_so_declaration.html" %}
    </div>
</div>

<div class="modal fade" id="copy_so_declaration" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="copy_so_declaration_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    </div>
</div>
{% endblock %}