{% extends "home/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load custom_filters %}
{% block content %}
  <h3 class="fw-bolder">
    {% block title %}
      {% translate "Account management" %}
    {% endblock %}
  </h3>
  <div class="hr-separator">
  </div>
  <div class="col-md-6">
    <p>
      {% translate "Fields marked with an asterisk (*) are mandatory." %}
    </p>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type="submit" content=_("Save changes") %}
    </form>
  </div>
{% endblock %}
