{% extends "home/base.html" %}
{% block content %}
  <div class="container-flex pb-5" lang="fr">
    <h3 class="fw-bolder">
      {% block title %}
        Accessibilité
      {% endblock %}
    </h3>
    <div class="hr-separator">
    </div>
    <p>
      Cette page présente nos engagements en matière d’accessibilité numérique puis définit le
      niveau de conformité de ce présent site à la réglementation et aux référentiels en vigueur.
    </p>
    <h4>
      Qu’est-ce que l’accessibilité numérique ?
    </h4>
    <p>
      L’accessibilité numérique est un ensemble de règles et de bonnes pratiques qui couvrent
      notamment les aspects fonctionnels, graphiques, techniques et éditoriaux.
    </p>
    <p>
      Le suivi de ces règles et bonnes pratiques permet de s’assurer que les supports numériques
      (sites web, applications mobiles, documents PDF, etc.) sont <b>accessibles aux personnes
    handicapées.</b>
  </p>
  <p>
    Un site accessible permet par exemple de :
  </p>
  <ul>
    <li>
      Personnaliser son affichage via le système d’exploitation et/ou le navigateur
      (agrandissement ou rétrécissement des caractères, changement de la typographie,
      modification des couleurs, arrêt des animations, etc.).
    </li>
    <li>
      Naviguer à l’aide de technologies d’assistance comme une synthèse vocale ou une
      plage braille.
    </li>
    <li>
      Naviguer sans utiliser la souris, avec le clavier uniquement, des contacteurs ou via un
      écran tactile.
    </li>
    <li>
      Consulter les vidéos et les contenus audio à l’aide de sous-titres et/ou de
      transcriptions.
    </li>
    <li>
      Etc.
    </li>
  </ul>
  <h4>
    Engagements d’accessibilité numérique
  </h4>
  <p>
    L’Institut Luxembourgeois de Régulation (ILR) s'engage à rendre son site internet accessible,
    conformément à la <a href="https://legilux.public.lu/eli/etat/leg/loi/2019/05/28/a373/jo"
    target="_blank"
    rel="noopener noreferrer">loi du 28 mai 2019</a> relative à l’accessibilité des sites internet et des
    applications mobiles des organismes du secteur public.
  </p>
  <h4>
    Déclaration d’accessibilité
  </h4>
  <p>
    Cette déclaration s’applique au site « SERIMA.lu ».
  </p>
  <h5>
    État de conformité
  </h5>
  <p>
    Ce présent site est partiellement conforme à la norme européenne <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/02.01.02_60/en_301549v020102p.pdf"
    target="_blank"
    rel="noopener noreferrer">EN 301 549</a> ainsi qu’au <a href="https://accessibilite.public.lu/fr/raweb1/"
    target="_blank"
    rel="noopener noreferrer">
    Référentiel d'Évaluation de l'Accessibilité Web (RAWeb) v1</a> qui l’implémente en raison des non-conformités énumérées ci-après.
  </p>
  <h5>
    Résultats des tests
  </h5>
  <p>
    L’audit de conformité au RAWeb version 1 réalisé en avril 2025 par la société <a href="https://ideance.net/" target="_blank" rel="noopener noreferrer">Ideance</a> révèle que sur l’échantillon :
  </p>
  <ul>
    <li>
      <p>
        Le taux de conformité global est de 74,6%.
      </p>
      <p>
        Ce taux est obtenu en divisant le nombre de critères conformes par le nombre de critères applicables.
      </p>
    </li>
    <li>
      <p>
        Le taux de conformité moyen est de 85,3%.
      </p>
      <p>
        Ce taux est obtenu en faisant la moyenne des taux de conformité de chaque page.
      </p>
    </li>
  </ul>
  <h5>
    Contenus non accessibles
  </h5>
  <h6>
    Non-conformités
  </h6>
  <ul>
    <li>
      1.3 - Des alternatives textuelles d’images porteuses d’information ne sont pas pertinentes.
    </li>
    <li>
      3.2 - Des contrastes entre couleur de texte et couleur d’arrière-plan ne sont pas suffisamment élevés.
    </li>
    <li>
      3.3 - Des contrastes entre couleur de composants d’interface ou éléments graphiques porteurs d’informations et
      couleur d’arrière-plan ne sont pas suffisamment élevés.
    </li>
    <li>
      7.1 - Des scripts ne sont pas compatibles avec les technologies d’assistance.
    </li>
    <li>
      7.3 - Des scripts ne sont pas contrôlables par le clavier et par tout dispositif de pointage.
    </li>
    <li>
      8.7 - Des changements de langue ne sont pas indiqués.
    </li>
    <li>
      8.9 - Des balises sont utilisées uniquement à des fins de présentation.
    </li>
    <li>
      9.3 - Des listes ne sont pas correctement structurées.
    </li>
    <li>
      10.7 - La prise de focus d’éléments interactifs n’est pas visible.
    </li>
    <li>
      10.8 - Des contenus cachés n’ont pas vocation à être ignorés par les technologies d’assistance.
    </li>
    <li>
      10.11 - Des contenus ne peuvent pas être présentés sans avoir recours à un défilement horizontal pour une fenêtre
      ayant une largeur de 320px.
    </li>
    <li>
      11.2 - Des étiquettes de champ de formulaire ne sont pas pertinentes.
    </li>
    <li>
      11.5 - Des champs de même nature ne sont pas regroupés.
    </li>
    <li>
      11.10 - Des contrôles de saisie ne sont pas utilisés de manière pertinente.
    </li>
    <li>
      11.11 - Des contrôles de saisie ne sont pas accompagnés de suggestions facilitant la correction des erreurs.
    </li>
    <li>
      13.3 - Des documents bureautiques en téléchargement ne possèdent pas de version accessible.
    </li>
  </ul>
  <h5>
    Préparation de la présente déclaration sur l'accessibilité
  </h5>
  <p>
    La présente déclaration a été préparée le 26 novembre 2025.
  </p>
  <p>
    Les mentions figurant dans cette déclaration sont exactes et fondées sur une évaluation effective de la conformité
    du présent site internet avec les exigences fixées dans le <a href="https://accessibilite.public.lu/fr/raweb1/"
    target="_blank"
    rel="noopener noreferrer">RAWeb 1</a>.
  </p>
  <h6>
    Technologies utilisées pour la réalisation du site
  </h6>
  <ul>
    <li>
      HTML5.
    </li>
    <li>
      ARIA.
    </li>
    <li>
      CSS.
    </li>
    <li>
      JavaScript.
    </li>
  </ul>
  <h6>
    Environnement de test
  </h6>
  <p>
    Les tests ont été effectués avec les combinaisons de navigateur web et lecteur d’écran suivantes :
  </p>
  <ul>
    <li>
      Firefox 136 et NVDA 2024.4.2 sous Windows 11
    </li>
    <li>
      Firefox 136 et JAWS 2023 sous Windows 11
    </li>
    <li>
      Safari et VoiceOver sous macOS 15.3.2
    </li>
    <li>
      Safari et VoiceOver sous iOS 18.3.2
    </li>
  </ul>
  <h6>
    Outils pour évaluer l’accessibilité
  </h6>
  <ul>
    <li>
      Colour Contrast Analyser.
    </li>
    <li>
      Contrast Finder.
    </li>
    <li>
      Outils de développement Firefox.
    </li>
    <li>
      Web Developer (extension Firefox).
    </li>
  </ul>
  <h6>
    Pages du site ayant fait l’objet de la vérification de conformité
  </h6>
  <ul>
    <li>
      Connexion
    </li>
    <li>
      Inscription
    </li>
    <li>
      Compte
    </li>
    <li>
      Changement de mot de passe
    </li>
    <li>
      Tableau de bord
    </li>
    <li>
      Signaler un incident (4 à 5 étapes)
    </li>
    <li>
      Rapport d'alerte précoce (2 étapes à auditer, les autres sont couvertes par les composants précédemment audités)
    </li>
    <li>
      Rapport préliminaire d'incident (1 étape à auditer, les autres sont couvertes par les composants précédemment
      audités)
    </li>
  </ul>
  <h4>
    Retour d'information et coordonnées de contact
  </h4>
  <p>
    Si vous n’arrivez pas à accéder à un contenu ou à un service de ce site, vous pouvez nous
    contacter via un des moyens ci-après en décrivant votre problème :
  </p>
  <ul>
    <li>
      Écrivez-nous à l’adresse email : <a href="mailto:serima@ilr.lu">serima@ilr.lu</a>
    </li>
    <li>
      Appelez-nous au <span class="text-primary">+352 28228 380.</span>
    </li>
    <li>
      <p>
        Écrivez-nous par voie postale à l’adresse suivante :
      </p>
      <div class="text-primary">
        <p class="mb-0">
          Institut Luxembourgeois de Régulation
        </p>
        <p class="mb-0">
          L-2922 Luxembourg
        </p>
        <p class="mb-0">
          Luxembourg
        </p>
      </div>
    </li>
  </ul>
  <p>
    Nous nous engageons à vous répondre par mail dans un délai de 1 mois au plus tard.
  </p>
  <p>
    Pour remédier au problème de manière durable et dans la mesure du raisonnable, la
    correction en ligne du défaut d’accessibilité sera privilégiée.
  </p>
  <p>
    Si cela ne peut être fait, l’information souhaitée vous sera transmise dans un format
    accessible selon vos souhaits :
  </p>
  <ul>
    <li>
      Par écrit dans un document ou un email.
    </li>
    <li>
      À l’oral lors d'un entretien ou par téléphone.
    </li>
  </ul>
  <h4>
    Procédure permettant d'assurer le respect des dispositions
  </h4>
  <p>
    En cas de réponse non satisfaisante, vous avez également la possibilité d’en informer le
    <a href="https://sip.gouvernement.lu/"
       target="_blank"
       rel="noopener noreferrer">Service information
      et presse</a>, organisme responsable du contrôle de l’accessibilité, via son
      <a href="https://sip.gouvernement.lu/fr/support/reclamation-accessibilite.html"
         target="_blank"
         rel="noopener noreferrer">formulaire de réclamation en ligne</a>, ou l’<a href="https://www.ombudsman.lu/"
   target="_blank"
   rel="noopener noreferrer">Ombudsman</a>, médiateur du Grand-Duché de
      Luxembourg.
    </p>
  </div>
{% endblock %}
