{% extends "home/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block bootstrap5_title %}
  {% translate "Cookies Policy" %}
{% endblock %}
{% block content %}
  <div class="container-flex" lang="fr">
    <h3 class="fw-bolder">
      {% translate "Cookie Policy on the SERIMA platform" %} - {% translate "Version" %} 3.0
    </h3>
    <div class="hr-separator">
    </div>
    {% if not LANGUAGE_CODE == 'fr' %}
      <blockquote class="blockquote">
        <p>
          <span class="fw-bold text-decoration-underline">Attention:</span>
          The Cookie Policy has been translated from its original French version for information purposes only. Only the
          French version is legally binding.
        </p>
      </blockquote>
    {% endif %}
    <p>
      {% blocktranslate trimmed %}
        A client cookie is a text file sent to the User's <sup><a href="#fn1">1</a></sup>
        browser and stored on the hard drive of their device (e.g. PC, laptop or mobile phone) when they visit a website or
        online platform.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
        Client cookies can be used, for example, to ensure the proper functioning of a website or platform and to optimise
        its usability and its functionalities.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
        SERIMA <sup><a href="#fn2">2</a></sup> uses client cookies that are necessary for its proper functioning, namely a
        cookie for managing the approval of cookies (persistent cookie named "cookiebanner"), a cookie that records the
        session (persistent cookie named "sessionid"), a cookie that records the language (named "django_language" and
        stored for the duration of the session) and a cookie for the CSRF token (persistent cookie named "csrftoken").
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
        They are stored by SERIMA in a directory provided for this purpose on the User's computer or mobile device.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
        Session cookies are deleted from the User's computer or mobile device when their session is closed.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
        However, unless the User takes action, persistent cookies remain on the User's computer or mobile device after the
        end of the session for less than an hour.
      {% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate trimmed %}
        The User may, at any time, choose to adjust their browser settings so that cookies are not accepted and stored.
        Furthermore, they can delete cookies that have already been stored at any time via their browser. However, the use
        of certain SERIMA functionalities may be limited or disabled if the User refuses SERIMA cookies. It is therefore
        recommended that the User adjusts his browser settings so that SERIMA cookies are accepted.
      {% endblocktranslate %}
    </p>
    <div class="mt-5">
      <hr class="w-30">
      <ol class="small text-muted">
        <li id="fn1">
          {% translate "Term defined in Article 1 of SERIMA's Terms of Use." %}
        </li>
        <li id="fn2">
          {% translate "Term defined in Article 1 of SERIMA's Terms of Use." %}
        </li>
      </ol>
    </div>
  </div>
{% endblock %}
