{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block bootstrap5_extra_script %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/language_selector.css' %}" />
    <script src='{% static "js/language-selector.js" %}'></script>
{% endblock %}

{% bootstrap_javascript %}

{% get_current_language as current_language %}
{% get_available_languages as available_languages %}
{% get_language_info_list for available_languages as languages %}

{% if languages|length > 1 %}
    <form id="set_language_form" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select class="text-uppercase selectpicker" id="language_selector" name="language" data-style="text-uppercase bg-transparent border-0 language_selector" data-width="fit">
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == current_language %} selected{% endif %}>
                    {{ language.code }}
                </option>
            {% endfor %}
        </select>
    </form>
{% endif %}
