{% load i18n %}
{% load static %}
{% block bootstrap5_extra_script %}
  <script src='{% static "js/language-selector-admin.js" %}'></script>
{% endblock %}
{% get_current_language as current_language %}
{% get_available_languages as available_languages %}
{% get_language_info_list for available_languages as languages %}
{% if languages|length > 1 %}
  <form id="set_language_form"
        action="{% url 'set_language' %}"
        method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <select id="language_selector" name="language">
      {% for language in languages %}
        <option value="{{ language.code }}"
                {% if language.code == current_language %}
                  selected
                {% endif %}>
          {{ language.code|upper }}
        </option>
      {% endfor %}
    </select>
  </form>
{% endif %}
