{% extends "home/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% block bootstrap5_title %}
  {% translate "Terms of use" %}
{% endblock %}
{% block bootstrap5_extra_script %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/terms.css' %}" />
{% endblock %}
{% block content %}
  <div id="terms"
       class="container-flex"
       lang="{% if LANGUAGE_CODE == 'fr' %}
               fr
             {% else %}
               en
             {% endif %}">
    <h3 class="fw-bolder">
      {% translate "Terms of use of the SERIMA platform" %} - {% translate "Version" %} 3.0
    </h3>
    <div class="hr-separator">
    </div>
    {% if not LANGUAGE_CODE == 'fr' %}
      <blockquote class="blockquote">
        <p>
          <span class="fw-bold text-decoration-underline">Attention:</span>
          The Terms of Use have been translated from their original French version for information purposes
          only. Only the French version is legally binding.
        </p>
      </blockquote>
    {% endif %}
    <div class="ms-1 me-1 me-xl-5">
      <ol>
        <li class="terms-subtitle">
          {% translate "Definitions" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                "Terms of Use": means these terms and conditions governing the use of SERIMA.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "SERIMA": SERIMA is an IT platform designed to integrate various modules with the goal of forming in fine a
                cybersecurity platform covering the needs of Operators (in particular to carry out and report their risk
                analyses and incident notifications) and the needs of Regulators and Observers. This configurable platform
                is multi-regulator and multi-regulation.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "SERIMA Instance": an area of the SERIMA platform reserved and dedicated to an Operator, a Regulator or an
                Observer.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Platform Administrator": natural or legal person responsible for configuring the Rules of Law, the Types of
                Operator and the Modules available on the platform, as well as the Regulators and Observers using this
                platform.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Rule of Law" means any legal text assigning to Regulators and Observers their duties or defining those
                duties,
                including NIS 1, the 2021 Law, NIS 2, the CER and the GDPR.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "NIS 1": means Directive (EU) 2016/1148 of the European Parliament and of the Council of 6 July 2016 on
                measures
                intended to ensure a common high level of security of networks and information systems in the European
                Union,
                as
                well as the Law of 28 May 2019 transposing Directive (EU) 2016/1148 of the European Parliament and of the
                Council of 6 July 2016 on measures intended to ensure a common high level of security of networks and
                information systems in the European Union and amending 1° the amended Act of 20 April 2009 creating the
                State
                Information Technology Centre and 2° the Act of 23 July 2016 creating a High Commission for National
                Protection.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "2021 Law" means the Law of 17 December 2021 transposing Directive (EU) 2018/1972 of the European Parliament
                and
                of the Council of 11 December 2018 establishing the European Electronic Communications Code and amending the
                amended Law of 30 May 2005 on: 1) the organisation of the Institut Luxembourgeois de Régulation; 2) amending
                the
                amended law of 22 June 1963 fixing the salary system for State employees.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "NIS 2": means Directive (EU) 2022/2555 of the European Parliament and of the Council of 14 December 2022 on
                measures to ensure a common high level of cyber security throughout the Union, amending Regulation (EU) No
                910/2014 and Directive (EU) 2018/1972, and repealing Directive (EU) 2016/1148 (NIS 2 Directive), as well as
                its
                transposition law into Luxembourg law.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "CER": means Directive (EU) 2022/2557 of the European Parliament and of the Council of 14 December 2022 on
                the
                resilience of critical entities and repealing Council Directive 2008/114/EC, as well as its transposition
                into
                Luxembourg law.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "GDPR": means Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the
                protection of natural persons with regard to the processing of personal data and on the free movement of
                such
                data, and repealing Directive 95/46/EC (General Data Protection Regulation).
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Personal data" means any information relating to an identified or identifiable natural person.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Processing of personal data" means any operation or set of operations which is performed upon personal data
                or sets of personal data, whether or not by automatic means.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Controller of personal data": means the natural or legal person who, alone or jointly with others,
                determines
                the purposes and means of the processing, i.e. the objective and the way in which it is to be achieved.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                “Processor”: means a natural or legal person, public authority, agency or other body which processes
                Personal data on behalf of the Controller.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Type of Operator": any characteristic enabling certain Operators to be grouped into categories. For
                example:
                Public Operator or Private Operator.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Module": any application that is available and can be activated on SERIMA.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "User": any natural person who has access to SERIMA and uses it on behalf of an Operator, a Regulator or an
                Observer.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Regulator": a public body designated as responsible for supervision under one or more Rules of Law, in
                particular the ILR, the CSSF, the CNPD and the HCPN.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "ILR": means the Institut Luxembourgeois de Régulation (Luxembourg Regulatory Institute).
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "CSSF": means the Commission de Surveillance du Secteur Financier.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "HCPN": means the Haut-Commissariat à la protection nationale (High Commission for National Protection).
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "CNPD": means the Commission nationale pour la protection des données (National Commission for Data
                Protection).
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Regulator Administrator": any natural person belonging to a Regulator whose main responsibilities are to
                manage the Users belonging to that Regulator, and also to make the necessary configurations in relation to
                the
                Rules of Law. They also have an overall view of the information and documents belonging to or transmitted to
                this Controller.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Regulator User": any natural person belonging to a Regulator and whose main responsibilities are to manage
                the Operators under the supervision of the Regulator and the documents or information submitted to it by the
                Operators.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Operator": any natural or legal person under the supervision of a Regulator.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Operator Administrator": any natural person belonging to an Operator whose main responsibilities are to
                manage Users belonging to this Operator. He also has a global view of the information and documents
                belonging
                to or transmitted to this Operator. It is created either by the main Administrator Operator or by another
                Administrator Operator.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Main Operator Administrator ": the first Operator Administrator of an Operator. It is created by the
                Regulator.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Operator User": any natural person belonging to an Operator whose main responsibilities are to produce and
                manage the information and documents to be sent to the Regulator.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                "Observer": any natural or legal person to whom information may be transmitted for the performance of its
                duties, in accordance with a Rule of Law, according to a logic implemented by the Regulator and taking
                account in particular of Types of Operator. The following in particular are considered to be Observers: the
                "CIRCL"
                and "GOVCERT.LU" computer security incident response centres, as well as the Grand Duchy of Luxembourg's NIS
                2 single point of contact.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Scope, purpose and changes to the Terms of Use" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                The ILR and the other Regulators provide Operators with a platform called SERIMA, which enables Operators to
                submit various documents and information to the Regulators, such as incident notifications, risk analyses
                and declarations relating to the security measures they have put in place. The Regulator concerned can
                review these documents and contact the Operators under his supervision.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                When SERIMA is used for the first time, all Operators, Regulators, Observers and Users are deemed to have
                read
                the Terms of Use and to have accepted them in full and without reservation.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The Regulators reserve the right to modify the Terms of Use at any time. Users will be informed of any
                changes to the
                Terms of Use.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Description of SERIMA" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                SERIMA allows the User, subject to technical constraints, the rights granted and without prejudice to future
                developments of SERIMA, to have access to the following Modules:
              {% endblocktranslate %}
            </li>
            <ol>
              <li>
                {% blocktranslate trimmed %}
                  incident notification and follow-up of incident notifications;
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  carrying out, submitting and reviewing risk analyses;
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  carrying out, submitting and reviewing the self-assessment of security objectives.
                {% endblocktranslate %}
              </li>
            </ol>
            <li>
              {% blocktranslate trimmed %}
                SERIMA is a multi-regulator and multi-regulation platform, which means that the Operator will be able to
                make
                legal notifications to the various Regulators separately or in parallel, thereby fulfilling its legal
                notification obligations imposed by the applicable legal framework.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The documents and information available on an Operator's SERIMA Instance belong to the Operator and the
                Operator
                assumes full responsibility for them.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                Any Regulator has access to the list of Users of the platform and to the information or documents that an
                Operator has notified to it.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The Observer has access to incident notifications relating to Operators for which the Observer is
                responsible.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Access to SERIMA" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                In order to access SERIMA and use the SERIMA platform, the User must have an Internet connection. All costs
                incurred for accessing SERIMA (e.g. computer hardware, Internet connection) shall be borne by the User.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                Operators whose organisation does not yet have access to SERIMA should submit their access request to the
                relevant
                Regulator. For ILR, the e-mail address to be used is serima@ilr.lu, and the following information must be
                provided:
              {% endblocktranslate %}
            </li>
            <ol>
              <li>
                {% blocktranslate trimmed %}
                  the reasons for the request, i.e. the legal framework to which the Operator is subject;
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  the official name of the organisation;
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  the surname, first name and e-mail address of the person who is to become the Operator's main
                  administrator
                  of
                  the Operator's SERIMA Instance.
                {% endblocktranslate %}
              </li>
            </ol>
            <li>
              {% blocktranslate trimmed %}
                The competent Regulator may request any information necessary to identify the Operator, as well as the
                persons
                acting as Main Operator Administrator or having rights on the SERIMA platform.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                Access authorisation will be communicated by the relevant Regulator in writing.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The relevant Regulator may refuse access to SERIMA in the event of an incomplete application or failure to
                comply with requests for additional information, or for any other reason based on an assessment of security
                risks.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                When access is authorised, SERIMA allows the Operator to access the platform using their e-mail address, a
                password and a one-time code (OTP) (secure two-factor authentication).
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                SERIMA access information is strictly personal. The User shall under no circumstances pass on his/her access
                information to a third party and shall inform the competent Regulator of any use or suspicion of
                unauthorised
                use.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The User shall immediately inform the relevant Regulator of any change in the information provided at the
                time
                of
                its initial request for access to SERIMA.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The Regulators may not be held liable for damages of any nature whatsoever resulting from a breach by the
                User
                of
                the obligations resulting from the preceding paragraphs.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The Main Operator Administrator is responsible for managing access for members of his organisation.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The Regulator Administrator is responsible for managing access for members of his organisation.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The competent Regulator reserves the right to suspend or even withdraw access to SERIMA, without prior
                notice
                or
                compensation of any kind, from any Operator for whom it considers that the use of SERIMA is abusive,
                unlawful
                or
                endangers the security of the information. The removal of access may result in the deletion of data from the
                SERIMA Instance.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Using SERIMA" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                The User uses SERIMA at his or her own risk and under his or her sole responsibility. In particular, they
                must
                protect themselves against the effects of computer piracy by adopting a suitable and secure computer
                configuration and diligent behaviour.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                No information classified under Luxembourg law or any other law shall be entered or transmitted on SERIMA.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The Operators shall be solely responsible for the data they enter on SERIMA and shall ensure that such data
                complies with the legislation in force. Personal data may only be entered on SERIMA if the persons concerned
                by
                the processing have given their consent or if a legal provision so permits. Thus, personal data stored,
                transmitted or processed on SERIMA must be reduced to the strict minimum necessary: apart from data linked
                to
                the user account, it is preferable to designate a person by his/her role in the organisation rather than by
                his/her first and last name. When an e-mail address must be specified, and apart from user account data, a
                generic e-mail address may be used instead of a named e-mail address.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                Risk analyses notified to the Regulators are kept for 5 years and are then permanently deleted. Incident
                notifications notified to the Regulators are accessible for the Regulators and Observers concerned and kept
                for
                10 years after which they are then permanently deleted.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                SERIMA may contain links to external sites. The Regulators do not systematically check the content of these
                external sites. They cannot therefore be held responsible for the content of these websites, either in terms
                of
                their legality or the accuracy of the information contained therein.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                SERIMA uses client cookies. A client cookie is a text file sent to the User's browser and stored on the hard
                drive of their device (e.g. PC, laptop or mobile phone) when they visit a website or online platform. Client
                cookies may be used, for example, to ensure the proper functioning of a website or platform and to optimise
                its usability and its functionalities. Information about the client cookies used by SERIMA is detailed
              {% endblocktranslate %}
              <a href="{% url 'cookies' %}">{% translate "here" %}</a>.
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Rights, obligations and responsibilities of the User" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                The User undertakes to use SERIMA in accordance with the Terms of Use and the legal framework in force.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Rights, obligations and responsibilities of Regulators" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                Each Regulator is responsible for the Operators under his supervision.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                Each Regulator is aware that SERIMA is a multi-operator platform. Therefore, each Regulator has access to
                the list of Operators using SERIMA, so that Regulators do not have to configurate the same Operator several
                times.
                Each Regulator undertakes to manage the Operators and the data available on the platform with care, so as
                not to have negative consequences for any other Regulator.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Rights, obligations and responsibilities of the ILR" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                The ILR shall use its best efforts to ensure maximum availability of SERIMA. However, the permanent
                availability of SERIMA cannot be guaranteed and ILR shall not be held liable in the event of the temporary
                or total
                unavailability of SERIMA.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                In particular, availability may be partially or totally affected in the event of force majeure or the
                occurrence of an event beyond ILR's control, or due to:
              {% endblocktranslate %}
            </li>
            <ol>
              <li>
                {% blocktranslate trimmed %}
                  maintenance operations;
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  updates;
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  technical improvements or changes to the content and/or presentation of SERIMA;
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  interventions for security reasons;
                {% endblocktranslate %}
              </li>
              <li>
                {% blocktranslate trimmed %}
                  any other reason that the ILR deems necessary.
                {% endblocktranslate %}
              </li>
            </ol>
            <li>
              {% blocktranslate trimmed %}
                In the event of SERIMA being unavailable or of any malfunction, the User may contact ILR via the dedicated
                e-mail addresses: <a href="mailto:incident_notification@ilr.lu">incident_notification@ilr.lu</a> for any
                item
                relating to the Incident Notification Module and
                <a href="mailto:serima@ilr.lu">serima@ilr.lu</a> for any other Module.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The ILR expressly reserves the right to modify, supplement or even delete parts of SERIMA without prior
                notice
                or justification, if it considers this necessary in order to ensure the optimal functioning of SERIMA, or to
                cease publication of SERIMA temporarily or permanently (e.g. in the event of a change in legislation).
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The ILR will do its utmost to ensure the security of the IT system.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The ILR shall not be liable for any material and/or immaterial damage resulting from the use of SERIMA, from
                the
                use or non-use of information provided by SERIMA, or from any false or incomplete information resulting
                therefrom. In any event, the ILR's liability shall be limited to gross negligence, in accordance with
                Article
                3(3) of the amended law of 30 May 2005 on the organisation of the Institut Luxembourgeois de Régulation and
                amendment of the amended law of 22 June 1963 on the salaries of civil servants, which expressly provides
                that:
              {% endblocktranslate %}
              <em>
                {% blocktranslate trimmed %}
                  In order for the Institute to be held liable for individual damage suffered by supervised operators or
                  professionals, their clients or third parties, it must be proven that the damage was caused by gross
                  negligence in the choice and application of the means used to fulfil the Institute's public service
                  mission.
                {% endblocktranslate %}
              </em>
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Intellectual property" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                All content and all elements included on SERIMA, including, but not limited to, the Regulators' trademarks
                and
                logos, graphic illustrations or texts, may be protected by one or more Intellectual Property rights
                (trademark, design or model, copyright, neighbouring rights, etc.). Any reproduction, communication to the
                public or any
                other use requires the prior authorisation of the rights holder (for example: ILR, the concerned Regulator,
                the
                author).
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The SERIMA source code is shared under the
              {% endblocktranslate %}
              "<a href="https://www.gnu.org/licenses/agpl-3.0.html"
   target="_blank"
   rel="noopener noreferrer">GNU Affero
              General Public version 3 License</a>".
            </li>
            <li>
              {% blocktranslate trimmed %}
                The use of SERIMA is free of charge.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Protection of personal data" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                Personal data is processed in accordance with the
                <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX:32016R0679"
                   target="_blank"
                   rel="noopener noreferrer">GDPR</a>.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                Information relating to the processing of personal data carried out by Regulators in connection with the use
                of SERIMA is detailed
              {% endblocktranslate %}
              <a href="{% url 'privacy' %}">{% translate "here" %}</a>.
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Transfer of rights" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                The Operator and the User may not assign all or part of their rights and obligations arising from or in
                connection with the Terms of Use to third parties or substitute a person for its performance without the
                written
                agreement of the ILR.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Miscellaneous" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                If, by virtue of a legal provision of public order or mandatory law, one of the clauses of these Terms of
                Use
                is
                found to be null and/or void and/or unenforceable against the Operator or the User, this nullity or
                unenforceability shall not affect the other clauses of these Terms of Use, which shall remain in force
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                For any comments, questions or complaints relating to SERIMA, the User may contact the ILR via the following
                e-mail address: <a href="mailto:serima@ilr.lu">serima@ilr.lu</a>.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                Only the French version of the Terms of Use is binding.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
        <li class="terms-subtitle">
          {% translate "Applicable law and competent courts" %}
          <ol>
            <li>
              {% blocktranslate trimmed %}
                The Terms of Use shall be governed by and construed in accordance with the laws of the Grand Duchy of
                Luxembourg. Any dispute relating to the Terms of Use, as well as to the use of SERIMA, including disputes
                relating to intellectual property and copyright and related rights, shall be governed by Luxembourg law.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The parties shall endeavour to resolve amicably any claim or dispute which may arise between them in
                connection
                with the Terms of Use and SERIMA.
              {% endblocktranslate %}
            </li>
            <li>
              {% blocktranslate trimmed %}
                The courts and tribunals of Luxembourg City in the Grand Duchy of Luxembourg shall have exclusive
                jurisdiction
                to hear any dispute concerning or in connection with the Terms of Use and with SERIMA.
              {% endblocktranslate %}
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}
