{% load i18n %} 

<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Dashboard" %}</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "User Management" %}</a>
</li>
<li class="nav-item d-none">
    <a class="nav-link" href="#">{% translate "Comunication" %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'incidents' %}">{% translate "Incident Notification" %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'securityobjectives' %}">{% translate "Security Objectives" %}</a>
</li>