{% load i18n %}
<li class="nav-item dropdown">
	<button class="nav-link dropdown-toggle" id="navbarDropdown" type="button" data-bs-toggle="dropdown"
		aria-expanded="false">
		{% translate "Incidents" %}
	</button>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		<li>
			<a class="dropdown-item" href="{% url 'incidents' %}" onclick="load_spinner()">
				{% translate "Overview" %}
			</a>
		</li>
		<li aria-hidden="true">
			<hr class="dropdown-divider">
		</li>
		<li>
			<a class="dropdown-item" href="{% url 'regulator_incidents' %}" onclick="load_spinner()">
				{% translate "My incidents" %}
			</a>
		</li>
	</ul>
</li>
{% if "securityobjectives" in app_module_available and "securityobjectives" in user_module_permissions %}
<li class="nav-item dropdown">
	<button class="nav-link dropdown-toggle" id="navbarDropdown" type="button" data-bs-toggle="dropdown"
		aria-expanded="false">
		{% translate "Security Objectives" %}
	</button>
	<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
		<li>
			<a class="dropdown-item" href="{% url 'securityobjectives' %}" onclick="load_spinner()">
				{% translate "Dashboard" %}
			</a>
		</li>
		<li aria-hidden="true">
			<hr class="dropdown-divider">
		</li>
		<li>
			<a class="dropdown-item import_so_declaration" href="#" data-bs-toggle="modal"
				data-bs-target="#import_so_declaration">
				{% translate "Import" %}
			</a>
		</li>
	</ul>
</li>
{% endif %}
{% if "reporting" in app_module_available and "reporting" in user_module_permissions %}
<li class="nav-item dropdown">
	<button class="nav-link dropdown-toggle" id="navbarDropdown" type="button" data-bs-toggle="dropdown"
		aria-expanded="false">
		{% translate "Reporting" %}
	</button>
	<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
		<li>
			<a class="dropdown-item" href="{% url 'reporting' %}" onclick="load_spinner()">
				{% translate "Dashboard" %}
			</a>
		</li>
		<li aria-hidden="true">
			<hr class="dropdown-divider">
		</li>
		<li>
			<a class="dropdown-item" href="{% url 'download_center' %}" onclick="load_spinner()">
				{% translate "Download Center" %}
			</a>
		</li>
		<li>
			<a class="dropdown-item" href="{% url 'report_configuration' %}" onclick="load_spinner()">
				{% translate "Configuration" %}
			</a>
		</li>
		<li>
			<a class="dropdown-item import_risk_analysis" href="#" data-bs-toggle="modal"
				data-bs-target="#import_risk_analysis">
				{% translate "Import risk analysis" %}
			</a>
		</li>
	</ul>
</li>
{% endif %}
