{% extends 'security_objectives/so_dashboard_base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content_filter %}
    {% bootstrap_field filter.form.submitter_company label_class="fw-bold" wrapper_class="mb-3" %}                    
{% endblock %}



{% block content_table_actions %}
<a class="btn border-0 p-0 text-dark {% if standard.status == 'UNDE' %}disabled{% endif %}" 
    href="{% url 'so_declaration' %}?id={{ standard.id }}"
    {% if standard.status == 'UNDE' %}aria-disabled="true" disabled{% endif %}>
    <i class="bi bi-pencil-fill"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Review' %}">
    </i>
</a>
<button class="btn border-0 p-0 text-dark review_comment_so_declaration" data-standard-answer-id="{{ standard.id }}"
    data-bs-toggle="modal" data-bs-target="#review_comment_so_declaration">
    <i class="bi bi-envelope-plus h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Review comment' %}">
    </i>
</button>
<button class="btn border-0 p-0 download-link" data-standard-answer-id="{{ standard.id }}">
    <i class="custom-icon-pdf h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Download' %}">
    </i>
</button>
<button class="btn border-0 p-0 so_access_log" data-standard-answer-id="{{ standard.id }}">
    <i class="custom-icon-log h4"
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Access Log' %}">
    </i>
</button>
<button class="btn border-0 p-0 delete_so_declaration"
    data-standard-answer-id="{{ standard.id }}"
    data-delete-url="{% url 'delete_so_declaration' 0 %}"
    data-bs-toggle="modal"
    data-bs-target="#delete_so_declaration">
    <i class="custom-icon-trash h4"        
        data-bs-placement="top" data-bs-toggle="tooltip" title="{% translate 'Delete' %}">
    </i>
</button>
{% endblock %}


{% block content_modals %}
{{ block.super }}
<div class="modal fade" id="delete_so_declaration" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="delete_so_declaration_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        {% include "modals/delete_so_declaration.html" %}
    </div>
</div>
{% endblock %}