{% extends 'security_objectives/so_dashboard_base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content_filter %}
    {% bootstrap_field filter.form.submitter_company label_class="fw-bold" wrapper_class="mb-3" %}                    
{% endblock %}



{% block content_table_actions %}
<a class="btn border-0 px-2 text-dark {% if standard.status == 'UNDE' %}disabled{% endif %}" 
    href="{% url 'so_declaration' %}?id={{ standard.id }}"
    title="Review"
    {% if standard.status == 'UNDE' %}aria-disabled="true" disabled{% endif %}>
    <i class="bi bi-pencil-fill"></i>
</a>
<button class="btn border-0 px-0 text-dark review_comment_so_declaration" data-standard-answer-id="{{ standard.id }}"
    data-bs-toggle="modal" data-bs-target="#review_comment_so_declaration"  title="Review comment">
    <i class="bi bi-envelope-plus h4"></i>
</button>
<button class="btn border-0 px-0 download-link" data-standard-answer-id="{{ standard.id }}" title="Download">
    <i class="custom-icon-pdf h4"></i>
</button>
<button class="btn border-0 p-0 so_access_log" data-standard-answer-id="{{ standard.id }}" title="Access Log">
    <i class="custom-icon-log h4"></i>
</button>
{% endblock %}
