{% extends 'home/base.html' %}

{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% bootstrap_css %}
{% block bootstrap5_extra_head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <script src='{% static "npm_components/@popperjs/core/dist/umd/popper.min.js" %}'></script>
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
    <script src='{% static "js/login.js" %}'></script>
{% endblock %}

{% block bootstrap5_title %}
{% block title %}{% translate "Log in" %}{% endblock %}
{% endblock %}

{% block bootstrap5_before_content %}
<div class="d-flex position-fixed top-0 w-100 py-3" data-bs-theme="light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto d-flex justify-content-start me-auto">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'images/regulator_logo.svg' %}" alt="Logo" >
                </a>
            </div>
            <div class="col-auto d-flex justify-content-between">
                    <a id="login_button" role="button" class="btn btn-outline-secondary">
                        {% translate "Connection" %}
                    </a>
                    <a id="registration_button" role="button" class="btn btn-link text-decoration-none text-secondary fw-bold px-4 create-account" href="{% url 'registration' %}" >
                        {% translate "Create account" %}
                    </a>
                    {% include "home/language_selector.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bootstrap5_content %}
<div class="background">
    <div class="container py-5 h-100 d-flex flex-column align-items-center justify-content-center" data-bs-theme="light">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        <div class="card shadow px-3 py-3 mb-5 rounded-1 col-5">
            <div class="card-body">      
                {% block login_content %}
                {% endblock login_content %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bootstrap5_after_content %}
<div class="position-fixed bottom-0 w-100" data-bs-theme="light">
    {% include "parts/footer.html" %}
</div>
{% endblock %}