{% load django_bootstrap5 %}
{% load static %}

<footer class="footer bg-light py-3 position-absolute bottom-0 w-100">
    <div class="container">
        <div class="row align-items-center d-flex justify-content-center">
        <div class="col-12 col-md-2 mb-3 mb-md-0 text-center">
            <img class="regulator_logo" src="{% static 'images/regulator_logo.png' %}" alt="regulator logo">
        </div>
        <div class="col-12 col-md-4 mb-3 mb-md-0 text-center">
            <a href="terms-of-service.html" class="text-muted">Terms of Service</a>
            <span class="mx-2 text-muted">|</span>
            <a href="privacy-policy.html" class="text-muted">Privacy Policy</a>
            <span class="mx-2 text-muted">|</span>
            <a href="privacy-policy.html" class="text-muted">Contact us</a>
        </div>
        </div>
    </div>
</footer>
