{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block login_content %}
{% if wizard.steps.current == 'auth' %}
<h5 class="my-3 py-3">{% trans "Enter your credentials." %}</h5>

{% elif wizard.steps.current == 'backup' %}
<p class="my-3 py-3 text-start text-wrap">
    {% blocktrans trimmed %}In the event of losing access to your account, you can use this form to regain access to
    your account with the help of one of the recovery codes (backup tokens) for Two-Factor Authentication (2FA). These
    recovery codes were generated for you when setting up 2FA, and you were asked to keep them in a secure location.
    {% endblocktrans %}
</p>
{% endif %}
<div class="mb-md-4 mt-md-4 pb-2">
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% bootstrap_form_errors wizard.form %}
        {% for field in wizard.form %}
        {% bootstrap_field field show_label=False %}
        {% endfor %}
        {% bootstrap_button button_type="submit" button_class="btn-danger" content=_("Log in") %}
    </form>
    {% block 'backup_tokens' %}
    {% if backup_tokens %}
    <hr>
    <div class="backup_tokens_form">
        <form action="" method="post">
            {% csrf_token %}
            <p>{% trans "As a last resort, you can use a backup token:" %}</p>
            <p>
                {% bootstrap_button name="wizard_goto_step" button_type="submit" button_class="btn-secondary btn-sm" value="backup" content=_("Use Backup Token") %}
            </p>
        </form>
    </div>
    {% endif %}
    {% endblock %}
    {% if wizard.steps.current == 'auth' %}
    <p class="small mb-2 pb-lg-2">
        <a class="text-muted" href="{% url 'password_reset' %}">
            {% translate "Have you forgotten your password?" %}
        </a>
    </p>
    <p>{% translate "No Account? Create one!" %}</p>
    <p>
        <a href="{% url 'registration' %}" class="link-info">
            {% translate "Register" %}
        </a>
    </p>
    {% endif %}
</div>
{% endblock login_content %}
{% block helper_login_content %}
<h2 class="card-title">
    {% translate "Incident Notification" %}
</h2>
<br><br>
<p class="card-text">
    {% translate "If you would like to notify an incident to your competent authority, please login or create an account." %}
</p>
<br><br>
<a role="button" class="btn btn-light btn-lg" href="{% url 'registration' %}" id="registration_button">
    {% translate "Create account" %}
</a>
{% endblock helper_login_content %}