{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_title %}
    {% block title %}{% translate "Email Sent" %}{% endblock %}
{% endblock %}

{% block login_content %}
<h5>{% translate "Email Sent" %}</h5>
<div class="text-start">
    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
</div>

{% endblock login_content %}