{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_title %}
    {% block title %}{% translate "E-mail sent" %}{% endblock %}
{% endblock %}

{% block login_content %}
<h5>{% translate "E-mail sent" %}</h5>
<div class="text-start">
    <p>{% translate 'We have sent you instructions to reset your password. Provided an account with the entered e-mail exists, you should receive it shortly.' %}</p>
    <p>{% translate 'If you have not received an e-mail, please check if it is the e-mail address with which you registered or your spam folder.' %}</p>
</div>

{% endblock login_content %}