{% extends template_header|default:"home/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block content %}
  {% block content_title %}
  {% endblock %}
  <h3 class="fw-bolder">
    {% block title %}
      {% translate "Change password" %}
    {% endblock %}
  </h3>
  <div class="hr-separator">
  </div>
  <p>
    {% translate "All Fields are mandatory." %}
  </p>
  <p>
    {% translate "Please enter your old password. Then enter your new password twice." %}
  </p>
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      {% bootstrap_field form.old_password show_label=False %}
      {% bootstrap_field form.new_password1 show_label=False show_help=False %}
      {% if form.new_password1.help_text %}
        <ul id="id_new_password1_helptext" class="form-text text-muted">
          {{ form.new_password1.help_text|safe }}
        </ul>
      {% endif %}
      {% bootstrap_field form.new_password2 show_label=False %}
      {% bootstrap_button button_type="submit" content=_("Change my password") %}
    </form>
  </div>
{% endblock %}
