{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block login_content %}
    <h5>
        {% block title %}
        {% translate "Have you forgotten your password?" %}
        {% endblock %}
    </h5>
    <p class="text-start">
        {% translate 'Forgot your password? Enter your email to receive reset instructions.' %}
    </p>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_field form.email show_label=False %}
        {% bootstrap_button button_class="btn-primary" button_type="submit" content=_("Reset password") %}
    </form>
{% endblock login_content %}
