{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_title %}
{% block title %}{% translate "Set a new password?" %}{% endblock %}
{% endblock %}

{% block login_content %}
{% if validlink %}
    <h5>{% translate "Set a new password!" %}</h5>
    <p class="text-start">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form method="POST" class="text-start">
        {% csrf_token %}
        {% bootstrap_field form.new_password1 show_label=False %}
        {% bootstrap_field form.new_password2 show_label=False %}
        <div class="text-center">
            {% bootstrap_button button_type="submit" content=_("Change my password") class="btn btn-warning" %}
        </div>
    </form>
{% else %}
    <h5>{% translate "Invalid link" %}</h5>
    <p class="text-start">{% translate "The link for password recovery is invalid, likely because it has already been used. Please submit a new request for password recovery." %}</p>

{% endif %}
{% endblock login_content %}