{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_title %}
    {% block title %}{% trans "Forgot Password?" %}{% endblock %}
{% endblock %}

{% block login_content %}
    <h5>{% translate "Have you forgotten your password or username?" %}</h5>
    <p class="text-start">
        {% translate 'Have you forgotten your password? Enter your e-mail address and we will send you instructions on how to set a new password.' %}
    </p>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_field form.email show_label=False %}
        {% bootstrap_button button_type="submit" content=_("Reset password") %}
    </form>
{% endblock login_content %}
