{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_title %}
    {% block title %}{% trans "Forgot password?" %}{% endblock %}
{% endblock %}

{% block login_content %}
    <h5>{% translate "Have you forgotten your password?" %}</h5>
    <p class="text-start">
        {% translate 'Forgot your password? Enter your email to receive reset instructions.' %}
    </p>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_field form.email show_label=False %}
        {% bootstrap_button button_type="submit" content=_("Reset password") %}
    </form>
{% endblock login_content %}
