{% extends "registration/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% block login_card %}
  <div id="login_card"
       class="card bg-transparent border-0 p-3 mb-5 rounded-1 col-12 col-xl-5 m-auto">
    <div class="card-body p-3">
      <h5>
        {% block title %}
          {% translate "Your password has been reset" %}
        {% endblock %}
      </h5>
      <p class="text-start">
        {% translate "Your password has been set. You may log in now." %}
      </p>
      {% url "login" as url_login %}
      {% bootstrap_button button_type="link" href=url_login content=_("Log in") %}
    </div>
  </div>
{% endblock login_card %}
