{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% block bootstrap5_title %}
{% block title %}{% translate "Your password has been reset" %}{% endblock %}
{% endblock %}

{% block login_content %}
    <h5>{% translate "Your password has been reset" %}</h5>
    <p class="text-start">{% translate "Your password has been set. You may log in now." %}</p>
    {% url "login" as url_login %}
    {% bootstrap_button button_type="link" href=url_login content=_("Log in") %}
{% endblock login_content %}