{% extends "registration/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block login_card %}
  <div id="login_card"
       class="card bg-transparent border-0 p-3 mb-5 rounded-1 col-12 col-xl-5 m-auto">
    <div class="card-body p-3">
      <h5>
        {% block title %}
          {% if validlink %}
            {% translate "Set new password!" %}
          {% else %}
            {% translate "Invalid link" %}
          {% endif %}
        {% endblock %}
      </h5>
      {% if validlink %}
        <p class="text-start">
          {% translate "Please enter your new password twice." %}
        </p>
        <form method="post" class="text-start">
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.new_password1 show_label=False %}
          {% bootstrap_field form.new_password2 show_label=False %}
          <div class="text-center">
            {% bootstrap_button button_type="submit" content=_("Change my password") class="btn btn-warning" %}
          </div>
        </form>
      {% else %}
        <p class="text-start">
          {% blocktranslate trimmed %}
            The link for password recovery is invalid. It may have already been used or it has expired. Please submit a
            new request for password recovery.
          {% endblocktranslate %}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock login_card %}
