{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block login_content %}
<h5>    
    {% block title %}
    {% translate "Email sent" %}
    {% endblock %}
</h5>
<div class="text-start">
    <p>{% translate 'We have received your request to reset your password. Please check your email for a link to reset your password. The email should arrive within a few minutes.' %}</p>
    <p>{% translate 'If you do not receive the email, please check your spam or junk folder. Please make sure it is the email address you have registered with.' %}</p>
</div>

{% endblock login_content %}