{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block login_content %}
<h2 class="card-title fw-bolder lh-1">
    {% block title %}
    {% translate "Create account" %}
    {% endblock %}
</h2>
<div class="hr-separator"></div>
<div class="my-4">
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form_errors form %} 
        {% bootstrap_field form.first_name show_label=False %}
        {% bootstrap_field form.last_name show_label=False %}
        {% bootstrap_field form.email show_label=False %}
        {% bootstrap_field form.password1 show_help=False show_label=False%}
        {% bootstrap_field form.password2 show_help=False show_label=False %}
        <div class="d-inline-flex">
            <input class="form-check-input custom-checkbox" type="checkbox" id="{{ form.accept_terms.id_for_label }}"
                name="{{ form.accept_terms.name }}">
            <label class="form-check-label ps-2" for="{{ form.accept_terms.id_for_label }}">
                {{ form.accept_terms.label|safe }}
                <a href="{% if regulator.tos_url %} {{ regulator.tos_url }} {% else %} {% url 'terms' %} {% endif %}"
                    class="text-decoration-none text-decoration-underline text-dark"
                    rel="noopener noreferrer" 
                    target="_blank">
                    {% translate "Terms of Service" %}
                </a>
            </label>
        </div>
        <button class="btn btn-primary mt-3" type="submit">
            {% translate "Create account" %}
        </button>
    </form>
</div>
{% endblock login_content %}
