{% extends 'registration/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block bootstrap5_title %}
    {% trans "Sign Up" %}
{% endblock %}

{% block login_content %}
    <div class="">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">{% bootstrap_field form.first_name %}</div>
                <div class="col-6">{% bootstrap_field form.last_name %}</div>            
            </div>
            <div>
                {% bootstrap_field form.email %}
            </div>
            <div class="row">
                <div class="col-6">{% bootstrap_field form.password1 show_help=False %}</div>         
                <div class="col-6">{% bootstrap_field form.password2 show_help=False %}</div>    
            </div>
        
            <button class="btn btn-primary" type="submit">{% translate "Register" %}</button>
        </form>
    </div>
    
{% endblock login_content %}
