/* 
    Overwrite Django Admin Site CSS
    https://github.com/django/django/tree/main/django/contrib/admin/static/admin/css
*/

/* Exemple: */

/* :root {
    --primary: #e78484 !important;
    --secondary: #f51616 !important;
} */

.header-links {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.bg-white {
    background-color: #ffffff !important;
}

.field-sectors label , .field-questions label {
    display: none !important;
}

.required::after {
    content: "*" !important;
    color: red !important;
    font-weight: bold;
    padding-left: 3px;
    vertical-align: super !important;
}

.double-padding {
    padding: 16px 0px;
}

.margin-right-10 {
    margin-right: 10px !important;
}