.affected-sector-filter button {
    background-color: white !important;
}
.affected-sector-filter  div.show-tick {
    color: var(--bs-btn-active-color) !important;
    width: 100% !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius)!important;
    outline: 0 !important;
}

.affected-sector-filter button.dropdown-toggle:focus {
    border-color:  var(--bs-primary) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem var(--bs-primary-border-subtle) !important;
}

.empty_field {
    border-width: 3px !important;
    border-style: solid !important;
    border-color: var(--bs-secondary) !important;
}

.legend {
    border: 1px solid #000;
    padding: 30px;
    border-radius: 8px;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
    box-sizing: border-box;
    position: relative;
}

.legend li {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    justify-content: center;
}

.legend-title {
    background-color: var(--bs-body-bg);
    position: absolute;
    top: -10px;
    left: 15px;
    padding: 0 5px;
    font-weight: bold;
}

.step-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-buttons {
    transform: translateY(50%);
}

/* Status logo */
.logo-status {
    width: 1.5em;
    height: 1.5em;
}

.status_checkbox {
    cursor:pointer !important;
    border: none !important;
    background-color: transparent !important;
    background-image: url('/static/images/icons/ico-closed.svg') !important;
}
.status_checkbox:checked {
    background-image: url('/static/images/icons/ico-on_going.svg') !important;
}

.status_checkbox:focus {
    border: none !important;
    box-shadow: none !important;
}

.is_significative_impact_checkbox {
    cursor:pointer !important;
    border: none !important;
    background-color: transparent !important;
    background-image: url('/static/images/icons/ico-impact-disabled.svg') !important;

}

.is_significative_impact_checkbox:checked {
    background-image: url('/static/images/icons/ico-impact.svg') !important;
}

.is_significative_impact_checkbox:focus {
    border: none !important;
    box-shadow: none !important;
}

.impacts-accordion-button:focus {
    box-shadow: none !important;
}

.impacts-accordion-button:not(.collapsed) {
    background-color:var(--bs-primary) !important;
}

.impacts-accordion-button:is(.collapsed) {
    color:var(--bs-secondary) !important;
}

.impacts-accordion-button::after {
    border-radius: 50% !important;
    width: 1.4em !important;
    height: 1.4em !important;
    background-size: 0.9em 0.9em !important;
    background-position: center !important;
}

.impacts-accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23f8f9fa' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
    border: 1.5px solid var(--bs-light) !important;
}

.impacts-accordion-button:is(.collapsed)::after {
    border: 1.5px solid var(--bs-dark) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;

}

.btn-not-submitted {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    outline: 1px solid #727272;
    line-height: 14px;
    align-items: center;
    text-align: left;
    gap: 10px;
}

.btn-not-submitted:hover {
    outline: 1px solid #616161;
}
