/* Redefine color of the incidents table */

.table-danger {
    background-color: #ff4c4c !important;
}

.table-success {
    background-color: #84df90 !important;
}

.table-info {
    background-color: #99dde9 !important;
}

.affected-sector-filter button {
    background-color: white !important;
}
.affected-sector-filter  div.show-tick {
    color: var(--bs-btn-active-color) !important;
    width: 100% !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius)!important;
    outline: 0 !important;
}

.affected-sector-filter button.dropdown-toggle:focus {
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
}

.empty_field {
    border-width: 3px !important;
    border-style: solid !important;
    border-color: var(--bs-secondary) !important;
}

.no-opacity {
    opacity: 1 !important;
}

.legend {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #000;
    padding: 30px;
    border-radius: 8px;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
    box-sizing: border-box;
    position: relative;
}

.legend-title {
    position: absolute;
    top: -10px;
    left: 15px;
    background: white;
    padding: 0 5px;
    font-weight: bold;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    justify-content: center;
}

.legend-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.legend-impact { background-color: red; }

.legend-ongoing { background-color: green; }

.legend-closed { background-color: gray; border: 1px solid #777; }

.legend-unsubmitted { background-color: lightgray; }

.legend-under-review { color: blue; }

.legend-submission-overdue { color: darkorange; }

.legend-passed { color: green; }

.legend-failed { color: red; }

.incident-list-sectors {
    list-style-type: none;
}

.incident-list-sectors ul {
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}

.incident-list-sectors li:before {
    content : "\2022  ";
}

.step-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
