.background {
    background-color: #FCFCFC;
    background-image: url('/static/images/bg_login.svg') !important;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1200px) {
    .description-container {
        min-height: 150px;
    }

    .title-container {
        min-height: 55px;
    }

}