.logo {
    width: 50%;
}

.background {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: radial-gradient(circle closest-side,
            #2e2f7f,
            #2e2f7f);
    height: 95vh;
    width: 100vw;
}