.background {
    background-color: #FCFCFC;
    background-image: url('/static/images/bg_login.svg') !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.create-account:hover {
    color: var(--bs-primary) !important;
    text-decoration: underline var(--bs-primary) !important;
    text-underline-offset: 6px !important;
    text-decoration-thickness: 3px !important;
}

.report-incident-button:hover {
    background-color: var(--bs-secondary) !important;
    border-color: var(--bs-secondary) !important;
    color: var(--bs-light) !important;
}