.logo {
    width: 50%;
}

.background {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #2e2f7f;
    height: 95vh;
    width: 100vw;
}

.login-helper-text {
    color:white;
}

.login-helper-bg {
    background-color:#34A9E1;
}