.logo {
    width: 50%;
}

.background {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #eaebeb;
    height: 95vh;
    width: 100vw;
}

.create-account:hover {
    color: #ed2939 !important;
    text-decoration: underline #e91426 !important;
    text-underline-offset: 6px !important;
    text-decoration-thickness: 3px !important;
}

.report-incident-button:hover {
    background-color: black !important;
}