@page {
    size: A4; /* Change from the default size of A4 */
    margin: 2.5cm 2cm 2cm 2.5cm; /* Set margin on each page */
    padding: 15px 0 15px 0;
    @top-left {
        background-image: var('static/images/regulator_logo.png');
        background-repeat: no-repeat;
        content: '';
        background-size: 100%;
        background-position: center bottom;
        margin-bottom: 5px;
        height: 2.5cm;
        width: 25%;
    }
    @top-center {
        background: #404040;
        content: '';
        display: block;
        height: 0.2px;
        opacity: 0.5;
        width: 100%;
    }
    @bottom-left {
        background-image: var(--left_logo_url);
        background-repeat: no-repeat;
        content: '';
        background-size: 50%;
        background-position: left center;
        margin-bottom: 5px;
        height: 2cm;
        width: 25%;
    }
    @bottom-center {
        background: #404040;
        content: '';
        display: block;
        height: 0.2px;
        opacity: 0.5;
        width: 100%;
    }
    @bottom-right {
        content: counter(page);
        height: 2cm;
        width: 1cm;
        text-align: center;
        font-size: 14px;
    }
}
@page:first {
    @top-left { content: none;}
    @top-center { content: none;}
    @bottom-left { content: none;}
    @bottom-center { content: none;}
    @bottom-right { content: none;}
}

/* Numbered the title */

#page {
	counter-reset: heading2;
}
h2:before {
	content: counter(heading2)". ";
	counter-increment: heading2;
}
h2 {
	counter-reset: heading3;
}
h3:before {
	content: counter(heading2)"." counter(heading3)". ";
	counter-increment: heading3;
}
h3 {
	counter-reset: heading4;
}
h4:before {
	content: counter(heading2)"." counter(heading3)"."counter(heading4)". ";
	counter-increment: heading4;
}

.page-break {
    page-break-before: always
}


/* LOGOS */

.tool_logo {
    margin-top: 30%;
    width: 80%;
}

.left_cover_logo {
    width: 30%;
}


/* TOC */

.toc {
    list-style: none;
    padding-left: 0;
}

.toc li {
    border-bottom: .25pt solid #c1c1c1;
    margin: .25cm 0;
    padding-top: .25cm;
}

.toc li a {
    color: inherit;
    text-decoration-line: inherit;
}

.toc li a::before {
    content: target-text(attr(href));
}

.toc li a::after {
    content: target-counter(attr(href), page);
    float: right;
}

.toc li > ul {
    padding-left: 20px;
}

.sub_chapiter {
    list-style: none;
    margin: .1cm 0 !important;
    padding-top: .1cm !important;
}
.sub_chapiter a::before {
    font-size: 14px;
}
