.sector-filter button {
    background-color: white !important;
}
.sector-filter  div.show-tick {
    color: var(--bs-btn-active-color) !important;
    width: 100% !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius)!important;
    outline: 0 !important;
}

.sector-filter button.dropdown-toggle:focus {
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
}

.icon-container {
    width: 35px !important;
    height: 35px !important;
    display: flex !important;
}

.icon-container-versions {
    width: 20px !important;
    height: 20px !important;
    display: flex !important;
}