.card-body {
    overflow: auto;
}

.card-body::-webkit-scrollbar {
    width: 8px;
}

.card-body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.card-body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.fixed-height {
    height: 1px;
}

.form-check-input {
    transform: scale(1.5)
}

.checkbox-is-measure input:checked {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
}

.checkbox-is-measure input {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 6 14 14M14 6 6 14'/%3e%3c/svg%3e");
}

.checkbox-is-measure input:focus {
    box-shadow: none;
    border: none;
}

/* For larger screens */
@media (min-width: 1200px) {
    .card-body {
        height: 80vh;
    }
}

/* For larger screens */
@media (min-width: 992px) and (max-width: 1200px)  {
    .card-body {
        height: 70vh;
    }
}

/* For medium screens */
@media (max-width: 991px) {
    .card-body {
        height: 60vh;
    }
}

