.sector-filter button {
    background-color: white !important;
}
.sector-filter  div.show-tick {
    color: var(--bs-btn-active-color) !important;
    width: 100% !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius)!important;
    outline: 0 !important;
}

.sector-filter button.dropdown-toggle:focus {
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
}

.table-success {
    background-color: #84df90 !important;
}

.table-info {
    background-color: #99dde9 !important;
}

.table-secondary {
    background-color: #e2e3e5 !important;
}

.table-danger {
    background-color: #f5c6cb !important;
}

.table-dark {
    background-color: #212529 !important;
    color: #fff;
}

.status_column {
    border-top-color: black;
}