{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n %}
{% block extrahead %}
  {{ block.super }}
  <script src='{% static "js/admin_account_actions.js" %}'></script>
{% endblock %}
{% block content %}
  {% if pending_link_actions %}
    <div class="pending-link-prompt">
      <p class="pending-link-question">
        {% blocktranslate with company=pending_link_company %}Add this user to Company {{ company }}?{% endblocktranslate %}
      </p>
      {{ pending_link_actions }}
    </div>
  {% endif %}
  {{ block.super }}
  {% if delete_confirm_message %}
    <span id="account-delete-confirm"
          hidden
          data-confirm-message="{{ delete_confirm_message }}"></span>
  {% endif %}
  {% include "admin/includes/account_actions_confirm.html" %}
{% endblock %}
