{% extends "admin/change_list.html" %}
{% load static %}
{% load i18n %}
{% block object-tools-items %}
  {{ block.super }}
  {% if reset_url %}
    <li>
      <button type="submit"
              class="object-tools-button"
              form="account-action-form"
              formaction="{{ reset_url }}"
              data-confirm-message="{% translate "Resetting the accepted terms will require every user to accept the terms of service again at their next login." %}">
        {% translate "Reset accepted terms" %}
      </button>
    </li>
  {% endif %}
  {% if reset_url_cookies %}
    <li>
      <button type="submit"
              class="object-tools-button"
              form="account-action-form"
              formaction="{{ reset_url_cookies }}"
              data-confirm-message="{% translate "Resetting the accepted cookies will show the cookie banner again to every user." %}">
        {% translate "Reset accepted cookies" %}
      </button>
    </li>
  {% endif %}
{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <script src='{% static "js/admin_account_actions.js" %}'></script>
{% endblock %}
{% block content %}
  {{ block.super }}
  {% include "admin/includes/account_actions_confirm.html" %}
{% endblock %}
