{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="modal-content">
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="copy_so_declaration_label">
            {% translate "Copy security objectives declaration" %}
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="{% url 'copy_so_declaration' standard_answer_id %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
            {% bootstrap_form_errors form %}
            {% bootstrap_messages %}
            {% if not messages %}
                {% bootstrap_field form.year %}            
            {% endif %}
        </div>
        {% if not messages %}
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                {% translate "Copy" %}
            </button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
