{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% block bootstrap5_extra_script %}
  <script src='{% static "js/create_report_project.js" %}'></script>
{% endblock %}
{% block content %}
  <div class="modal-content">
    <div class="modal-header bg-primary text-white px-4 small">
      <h5 class="modal-title" id="create_report_project_label">
        {% if is_copy %}
          {% translate "Duplicate project" %}
        {% elif is_edit %}
          {% translate "Edit project" %}
        {% else %}
          {% translate "New project" %}
        {% endif %}
      </h5>
      <button type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="{% translate 'Close' %}">
      </button>
    </div>
    {% if is_edit %}
      {% url 'edit_report_project' form.instance.id as form_action %}
    {% else %}
      {% url 'create_report_project' as form_action %}
    {% endif %}
    <form action="{{ form_action }}" method="post">
      {% csrf_token %}
      <div class="modal-body">
        {% bootstrap_form_errors form %}
        {% bootstrap_messages %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.regulation %}
        <div class="mb-3 required-field">
          <label for="id_standard" class="form-label">
            {{ form.standard.label }}
          </label>
          <select name="standard"
                  id="id_standard"
                  class="form-select"
                  required
                  {% if form.fields.standard.disabled %}
                    disabled
                  {% endif %}>
            <option value="">
              ---------
            </option>
            {% for standard in form.fields.standard.queryset %}
              <option value="{{ standard.id }}"
                      data-regulation="{{ standard.regulation.id }}"
                      {% if form.standard.value|stringformat:"s" == standard.id|stringformat:"s" %}
                        selected
                      {% endif %}>
                {{ standard }}
              </option>
            {% endfor %}
          </select>
        </div>
        {% bootstrap_field form.reference_year %}
        {% bootstrap_field form.years %}
        {% bootstrap_field form.sectors %}
      </div>
      {% if not messages %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {% translate "Cancel" %}
          </button>
          <button type="submit" class="btn btn-primary">
            {% if is_copy %}
              {% translate "Duplicate" %}
            {% elif is_edit %}
              {% translate "Save" %}
            {% else %}
              {% translate "Create" %}
            {% endif %}
          </button>
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}
