{% load django_bootstrap5 %}
{% load i18n %}
{% block content %}
  <div class="modal-content">
    <div class="modal-header bg-primary text-white px-4 small">
      <h5 class="modal-title" id="report_versions_label">
        {% translate "Version control" %}
      </h5>
      <button type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="{% translate 'Close' %}">
      </button>
    </div>
    <div class="modal-body py-4 px-5">
      <p class="fw-bolder m-0" id="modal-report-name">
      </p>
      <p class="small" id="modal-incident-ref">
      </p>
      <table class="table table-sm align-middle">
        <caption class="visually-hidden" id="caption-accessibility">{% translate "Version control" %}</caption>
        <thead class="table small">
          <tr>
            <th class="col-2" scope="col">
              {% translate "Date" %}
            </th>
            <th class="col-3" scope="col">
            </th>
            <th class="col-5" scope="col">
              {% translate "Status" %}
            </th>
            <th class="col-2 text-center" scope="col">
              {% translate "Action" %}
            </th>
          </tr>
        </thead>
        <tbody id="modal-workflow-rows">
          <!-- Table filled into -->
          <!-- static/js/incidents.js -->
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
