{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class="modal-content">
    <div class="modal-header bg-primary text-white px-4 small">
      <h5 class="modal-title" id="review_comment_so_declaration_label">
        {% translate "Review" %}
      </h5>
      {% block modal_close_button %}
        <button type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="{% translate 'Close' %}">
        </button>
      {% endblock modal_close_button %}
    </div>
    <form id="so-review-comment-form"
          is_only_review_comment="{{ form.is_only_review_comment }}"
          action="{% url 'review_comment_so_declaration' standard_answer_id %}"
          method="post">
      {% csrf_token %}
      <div class="modal-body">
        {% bootstrap_form_errors form %}
        {% bootstrap_messages %}
        {% if not messages %}
          {% bootstrap_field form.status %}
          {% bootstrap_field form.review_comment %}
          {% if is_regulator or form.initial.deadline %}
            {% bootstrap_field form.deadline %}
          {% endif %}
        {% endif %}
      </div>
      {% if not messages and is_regulator and not form.is_read_only %}
        <div class="modal-footer">
          <button id="submit-btn"
                  type="submit"
                  class="btn btn-primary"
                  {% if form.initial.status == "DELIV" and not form.is_only_review_comment %}
                    disabled
                  {% endif %}>
            {% if form.is_only_review_comment %}
              {% translate "Save" %}
            {% else %}
              {% translate "Send" %}
            {% endif %}
          </button>
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}
