{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% block bootstrap5_extra_script %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'npm_components/summernote/dist/summernote-bs5.min.css' %}" />
  <script src='{% static "npm_components/summernote/dist/summernote-bs5.min.js" %}'></script>
  <script src='{% static "js/workflow_comment.js" %}'></script>
{% endblock %}
{% block content %}
  <div class="modal-content">
    <div class="modal-header bg-primary text-white px-4 small">
      <h5 class="modal-title" id="workflowCommentLabel">
        {% translate "Review comment" %}
      </h5>
      {% block modal_close_button %}
        <button type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="{% translate 'Close' %}">
        </button>
      {% endblock modal_close_button %}
    </div>
    <div class="modal-body py-4 px-5">
      <textarea id="modal-workflow-comment"
                class="form-control summernote"
                rows="10"
                disabled></textarea>
    </div>
  </div>
{% endblock %}
