{% load i18n %}
{% spaceless %}
  <p>
    {% translate "Dear Sir or Madam," %}
  </p>
  <p>
    {% blocktranslate trimmed with regulation=regulation %}
      We would like to inform you that a new incident mass export related to the regulation {{ regulation }} has been
      completed.
    {% endblocktranslate %}
  </p>
  <p>
    {% blocktranslate trimmed %}
      If you or a member of your team did not initiate this action or if it appears suspicious, we recommend that you
      investigate the matter further.
    {% endblocktranslate %}
  </p>
  <p>
    {% translate "Kind regards," %}
  </p>
  <p>
    {{ site_name }}
    {% blocktranslate trimmed with site_name=site_name %}
      Incident Notification
    {% endblocktranslate %}
  </p>
{% endspaceless %}
