 {% extends 'home/base.html' %}
{% block bootstrap5_title %}{{ action }} an incident{% endblock %}
{% load django_bootstrap5 %}
{% load custom_filters %}
{% load static %}
{% load i18n %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/incidents.css' %}" />
<script src='{% static "js/declaration.js" %}'></script>
{% endblock %}

{% block content %}
<h3>{% translate "Report an incident" %}</h3>
<div class="hr-separator"></div>
<div class="card shadow rounded-3 my-5">
  <form action="" method="post">
    {% csrf_token %}
    <div class="d-inline-flex border rounded-pill mx-4 translate-middle-y bg-light">
      <ul class="nav nav-pills m-2">
        {% for step in wizard.steps.all %}
        <li class="nav-item">
          {% with step_name=steps|index:step %}
          {% if step > wizard.steps.current %}
          <div class="d-flex align-items-center text-secondary">
            <div class="step-circle bg-transparent text-bold border border-secondary force_disabled">
              {{ forloop.counter }}
            </div>
            <button type="submit" class="btn btn-link text-decoration-none fw-bold" name="wizard_goto_step"
              value="{{step}}" disabled>
              {{ step_name }}
            </button>
          </div>
          {% elif step < wizard.steps.current %} 
          <div class="d-flex align-items-center">
            <div class="step-circle bg-secondary text-white fw-bold">
              {{ forloop.counter }}
            </div>
            <button type="submit" class="btn btn-link text-decoration-none text-secondary fw-bold" 
              name="wizard_goto_step" value="{{step}}">
              {{ step_name }}
            </button>
          </div>
          {% else %}
          <div class="d-flex align-items-center">
            <div class="step-circle bg-primary text-white fw-bold">
              {{forloop.counter}}
            </div>
            <button type="submit" class="btn btn-link text-decoration-none fw-bold" 
              name="wizard_goto_step" value="{{step}}">
              {{ step_name }}
            </button>
          </div>
          {% endif %}
          {% endwith %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body py-0 px-4">
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {% bootstrap_form_errors form %}
          {% bootstrap_form form %}
        {% endfor %}
      {% else %}
        {% with form_class_name=wizard.form|get_class_name %}
        {{ wizard.form.media }}
        {% bootstrap_form_errors wizard.form %}
        {% if form_class_name == 'ContactForm' %}
          {% include "contact_form.html" %}
        {% elif form_class_name == 'ImpactForm' %}
          {% include "impact_form.html" %}
        {% elif form_class_name == 'SectorForm' %}
          {% include "sector_form.html" %}
        {% elif form_class_name == 'DetectionDateForm' %}
          {% include "detection_date_form.html" %}
        {% else %}
          {% for field in wizard.form %}
            <div class="d-flex align-items-center {% if field.field.required %}required-field{% endif %}">
              {% bootstrap_label field.label label_class="fw-bold me-2" %}
              <hr class="flex-grow-1 border-secondary no-opacity">
            </div>
            <div class="pt-4">
              {% bootstrap_field field show_label=False %}
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
      {% endif %}
      <div class="d-flex mx-4 notifcation-buttons">
        <div class="flex-grow-1">
          <a role="button" class="btn btn-secondary" 
            href="{% if is_regulator_incident %}{% url 'regulator_incidents' %}{% else %}{% url 'incidents' %}{% endif %}" >
            {% if action == 'Create' %}
              {% translate "Cancel" %}
            {% else %}
              {% translate "Close" %}
            {% endif %}
          </a>
        </div>
        <div>
          {% if wizard.steps.first != wizard.steps.current %}
            <button class="btn btn-primary ms-3" 
              name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
              <i class="bi bi-chevron-left"></i>
              {% translate "Previous" %}
            </button>
          {% endif %}
          {% if wizard.steps.last == wizard.steps.current %}
            {% if not view.read_only %}
              <button class="btn btn-secondary ms-3" 
                name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}">
                {% translate "Notify" %} 
                <i class="bi bi-chevron-right"></i>
              </button>
            {% endif %}
          {% else %}
            <button class="btn btn-primary ms-3" 
              name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}">
              {% translate "Next" %} 
              <i class="bi bi-chevron-right"></i>
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}