// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// ILR Colors

// $primary: #e40521;
// $secondary: #212529; 

// IBPT Colors

$primary: #34a9e1;
$secondary: #2e2f7f; 
$primary: #34a9e1;
$secondary: #2e2f7f; 

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}


// Importing bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

// To compile scss file, run this command at root project ** npm run compile-scss **

// Then add additional custom code here

html, body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

a.changelink {
    padding-left: 16px;
    background: url(../admin/img/icon-changelink.svg) 0 1px no-repeat;
    float: left;
    margin-right: 12px
}

.required-field > label::after {
    content: " * ";
    color: var(--bs-danger);
    font-weight: bold;
    padding-right: 2px;
}

.disabled-link {
    color: gray !important;
    pointer-events: none;
    cursor: default;
}

.large-checkbox {
    width: 1.5em;
    height: 1.5em;
}

.select-break-spaces {
    white-space: break-spaces
}

.hr-separator {
    width: 80px;
    height: 5px;
    background-color: var(--bs-primary);
    margin-bottom: 10px;
}

.force_disabled {
    color: var(--bs-gray) !important;
    pointer-events: none !important;
    background-color: transparent !important;
    border-color: var(--bs-gray) !important;
    opacity: 0.65 !important;
}

.no-opacity {
    opacity: 1 !important;
}

.right-modal {
    top: 0;
    left: 100%; 
    width: 400px; 
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.right-modal.show {
    transform: translateX(-100%);
}

.list-sectors li:before {
    content : "\2022  ";
}

/* Custom icons  */

[class^="custom-icon"]{
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: flex-end;
    font-family: "bootstrap-icons";
    font-style: normal; 
 }

.custom-icon-pdf {
    background-image: url('/static/images/icons/ico-pdf.svg'); 
}

.custom-icon-log {
    background-image: url('/static/images/icons/ico-log.svg'); 
}

.custom-icon-user {
    background-image: url('/static/images/icons/ico-user.svg'); 
}

.custom-icon-trash {
    background-image: url('/static/images/icons/ico-trash.svg'); 
}

