{% load i18n %}

<div class="my-6">
    <div class="d-flex justify-content-center">
        <img class="text-center"
        src="file:{{ static_dir }}/images/logo.svg" 
        alt="Logo">

    </div>

    <h1 class="mt-5 mb-2 text-center fw-bold">
        {% translate "Annual report" %}
    </h1>
    <h1 class="mt-5 mb-2 text-center fw-bold">
        {{ year }}
    </h1>
    <div class="mt-5 p-4 pb-2 border border-secondary border-1 rounded">
        <p>
            <span class="fw-bold">
                {% translate "Company name" %}:
            </span>
            {{ company.name }}
        </p>
        <p>
            <span class="fw-bold">
                {% translate "Sector" %}:
            </span>
            {{ sector }}
        </p>
    </div>
</div>
<p class="page-break" ></p>
