{% extends "reporting/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}
  <h3 class="fw-bolder">
    {% block title %}
      {% translate "Configuration by sector" %}
    {% endblock %}
  </h3>
  <div class="hr-separator">
  </div>
  <div class="d-flex">
    <div class="ms-auto">
      <a class="btn btn-primary btn-sm"
         type="button"
         href="{% url 'add_report_configuration' %}">
        {% translate "Add configuration" %}
      </a>
    </div>
  </div>
  <table class="table align-middle table-sm small">
    <caption class="visually-hidden">
      {% translate "Configuration by sector table" %}
    </caption>
    <thead>
      <tr>
        <th class="col-auto">
          {% translate "Sector" %}
        </th>
        <th class="col-auto">
          {% translate "Number of years to compare" %}
        </th>
        <th class="col-auto">
          {% translate "High Risk Rate Threshold Value" %}
        </th>
        <th class="col-auto">
          {% translate "Number of security measures to be considered for the ranking" %}
        </th>
        <th class="col-auto">
          {% translate "Number of Excluded Security Objectives" %}
        </th>
        <th class="col-auto">
          {% translate "Actions" %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for configuration in report_configurations %}
        <tr>
          <td class="list-sectors">
            <span class="fw-bolder">
              {{ configuration.sector.parent.get_safe_translation }}
            </span>
            <ul class="list-unstyled">
              <li>
                {{ configuration.sector.get_safe_translation }}
              </li>
            </ul>
          </td>
          <td>
            {{ configuration.number_of_year }}
          </td>
          <td>
            {{ configuration.threshold_for_high_risk }}
          </td>
          <td>
            {{ configuration.get_top_ranking_display }}
          </td>
          <td>
            {{ configuration.so_excluded.count }}
          </td>
          <td>
            <a class="btn border-0 px-2 text-dark"
               href="{% url 'edit_report_configuration' configuration.id %}"
               title="Edit">
              <i class="custom-icon-edit h4"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
