{% load i18n %}
{% load reporting_filters %}

<h2 id="risks" class="{{ title_class }}">
    {% translate "Risks" %}
</h2>
<div>
    <h3 id="risks_1" class="{{ title_class }}">
        {% translate "Risk average level" %}
    </h3>
    <div class="{{ chart_class }}">
        <img src="data:image/png;base64,{{ charts.risks_1 }}" class="img-fluid" />
    </div>
</div>
<div>
    <h3 id="risks_2" class="{{ title_class }}">
        {% translate "High-risk rate (>threshold)" %}
    </h3>
    <div class="{{ chart_class }}">
        <img src="data:image/png;base64,{{ charts.risks_2 }}" class="img-fluid" />
    </div>
</div>
<div>
    <h3 id="risks_3" class="{{ title_class }}">
        {% translate "High risk average level" %}
    </h3>
    <div class="{{ chart_class }}">
        <img src="data:image/png;base64,{{ charts.risks_3 }}" class="img-fluid" />
</div>
</div>
<div>
    <h3 id="risks_4" class="{{ title_class }}">
        {% translate "Evolution of the highest risks" %}
    </h3>
    <div class="{{ chart_class }}">
        <img src="data:image/png;base64,{{ charts.risks_4 }}" class="img-fluid" />
    </div>
    <table class="{{ table_class }} smallest-font-size">
        <thead class="thead-light">
            {% widthratio 3 1 nb_years as colspan_value %}
            <tr>
                <th class="text-center align-middle" rowspan="3">{% translate "ID" %}</th>
                <th class="text-center align-middle" rowspan="3">{% translate "Asset" %}</th>
                <th class="text-center align-middle" colspan="{{ colspan_value }}">{% translate "Impact" %}</th>
                <th class="text-center align-middle" rowspan="3">{% translate "Threat" %}</th>
                <th class="text-center align-middle" colspan="{{ nb_years }}">{% translate "Probability" %}</th>
                <th class="text-center align-middle" rowspan="3">{% translate "Vulnerability" %}</th>
                <th class="text-center align-middle" colspan="{{ nb_years }}">{% translate "Qualification" %}</th>
                <th class="text-center align-middle" colspan="{{ colspan_value }}">{% translate "Current Risk" %}</th>
            </tr>
            <tr>
                {% for year in risk_data.years %}
                    <th class="text-center align-middle" colspan="3">{{ year }}</th>
                {% endfor %}
                {% for year in risk_data.years %}
                    <th class="text-center align-middle" rowspan="2">{{ year }}</th>
                {% endfor %}
                {% for year in risk_data.years %}
                <th class="text-center align-middle" rowspan="2">{{ year }}</th>
                {% endfor %}
                {% for year in risk_data.years %}
                    <th class="text-center align-middle" colspan="3">{{ year }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for year in risk_data.years %}
                    <th class="text-center">{% translate "C" %}</th>
                    <th class="text-center">{% translate "I" %}</th>
                    <th class="text-center">{% translate "A" %}</th>
                    <th class="text-center">{% translate "C" %}</th>
                    <th class="text-center">{% translate "I" %}</th>
                    <th class="text-center">{% translate "A" %}</th>
                {% endfor %}
            </tr>   
        </thead>
        <tbody>
            {% for risk in risk_data.data_risks_top_ranking %}
            <tr>
                <td class="align-middle">R{{ risk.id }}</td>
                <td class="lh-sm">{{ risk.asset }}</td>
                {% for year in risk_data.years %}
                    {% for criteria in "cia"|make_list %}
                    <td class="text-center align-middle">
                        {{ risk.impacts|get_item:year|get_item:criteria|default_if_none:"-" }} 
                    </td>
                    {% endfor %}
                {% endfor %}
                <td class="lh-sm">{{ risk.threat }}</td>
                {% for year in risk_data.years %}
                    <td class="text-center align-middle">
                        {{ risk.threat_values|get_item:year|default_if_none:"-" }} 
                    </td>
                {% endfor %}
                <td class="lh-sm">{{ risk.vulnerability }}</td>
                {% for year in risk_data.years %}
                    <td class="text-center align-middle">
                        {{ risk.vulnerability_values|get_item:year|default_if_none:"-" }} 
                    </td>
                {% endfor %}
                {% for year in risk_data.years %}
                    {% for criteria in "cia"|make_list %}
                    <td class="text-center align-middle">
                        {{ risk.risks_values|get_item:year|get_item:criteria|default_if_none:"-" }} 
                    </td>
                    {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h3 id="risks_5" class="{{ title_class }}">
        {% translate "Treatment of the highest risks" %}
    </h3>
    <table class="{{ table_class }} smallest-font-size">
        <thead class="thead-light">
            <tr>
                <th class="text-center align-middle">{% translate "ID" %}</th>
                <th class="text-center align-middle">{% translate "Asset" %}</th>
                <th class="text-center align-middle">{% translate "Threat" %}</th>
                <th class="text-center align-middle">{% translate "Vulnerability" %}</th>
                <th class="text-center align-middle">{% translate "Max Current Risk" %}</th>
                <th class="text-center align-middle">{% translate "Treatment" %}</th>
                <th class="text-center align-middle">{% translate "Residual Risk" %}</th>
            </tr>   
        </thead>
        <tbody>
            {% for risk in risk_data.data_risks_top_ranking %}
            <tr>
                <td class="align-middle">R{{ risk.id }}</td>
                <td class="lh-sm">{{ risk.asset }}</td>
                <td class="lh-sm">{{ risk.threat }}</td>
                <td class="lh-sm">{{ risk.vulnerability }}</td>
                <td class="text-center align-middle">
                    {{ risk.max_risk|floatformat }}
                </td>
                <td>{{ risk.treatment }}</td>
                <td class="text-center align-middle">
                    {{ risk.residual_risk|floatformat }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h3 id="risks_6" class="{{ title_class }}">
        {% translate "Risk summary table" %}
    </h3>
    <table class="{{ table_class }} smallest-font-size">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th class="text-center align-middle">{% translate "Total amount of treated risks" %}</th>
                <th class="text-center align-middle">{% translate "Total amount of not-treated risks" %}</th>
                <th class="text-center align-middle">{% translate "Average value of treated current risks" %}</th>
                <th class="text-center align-middle">{% translate "Total amount of high risks" %}</th>
                <th class="text-center align-middle">{% translate "Average value of high risks" %}</th>
                <th class="text-center align-middle">{% translate "Average value of residual risks" %}</th>
                <th class="text-center align-middle">{% translate "Total amount of reduced risks" %}</th>
                <th class="text-center align-middle">{% translate "Total amount of denied risks" %}</th>
                <th class="text-center align-middle">{% translate "Total amount of accepted risk" %}</th>
                <th class="text-center align-middle">{% translate "Total amount of shared risks" %}</th>
            </tr>   
        </thead>
        <tbody>
            {% for service, stats in risk_data.service_stats.items %}
                {% with color_service=service_color_palette|index:forloop.counter0|safe %}
                {% for year in risk_data.years reversed %}
                <tr>
                    {% with stats_by_year=stats|get_item:year %}
                    {% with total_risks=stats_by_year.total_risks|floatformat %}
                    <th class="align-middle" style="color: {{ color_service }};">{{ service.name }} ({{ year }})</th>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                            {{ stats_by_year.total_treated_risks|floatformat }} / {{ total_risks }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{ stats_by_year.total_untreated_risks|floatformat }} / {{ total_risks }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{stats_by_year.avg_current_risks|floatformat:"2" }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{stats_by_year.total_high_risks_treated }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{stats_by_year.avg_high_risks_treated|floatformat:"2" }}                    
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{stats_by_year.avg_residual_risks|floatformat:"2" }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{ stats_by_year.total_reduced_risks|floatformat }} / {{ total_risks }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{ stats_by_year.total_denied_risks|floatformat }} / {{ total_risks }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{ stats_by_year.total_accepted_risks|floatformat }} / {{ total_risks }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    <td class="text-center align-middle" style="color: {{ color_service }};">
                        {% if total_risks %}
                        {{ stats_by_year.total_shared_risks|floatformat }} / {{ total_risks }}
                        {% else %}
                        -                      
                        {% endif %}
                    </td>
                    {% endwith %}
                    {% endwith %}
                </tr>
                {% endfor %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h3 id="risks_7" class="{{ title_class }}">
        {% translate "Most important threats" %}
    </h3>
    {% for service, rankings in risk_data.top_ranking_risks_items.items %}
    {% with color_service=service_color_palette|index:forloop.counter0|safe %}
    <table class="{{ table_class }} smallest-font-size">
        <thead class="thead-light">
            <tr>
                <th rowspan="2"></th>
                <th class="text-center align-middle" colspan="3" 
                    style="color: {% if not forloop.last %}{{ color_service }};{% endif %}">
                    {% if forloop.last %}
                    {{ service }}
                    {% else %}
                    {{ service.name }}
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th class="col-4 text-center align-middle">
                    {% translate "Threat ranking based on risk level" %}
                </th>
                <th class="col-4 text-center align-middle">
                    {% translate "Threat ranking based on residual risk level" %}
                </th>
                <th class="col-4 text-center align-middle">
                    {% translate "Threat ranking based on threat probability" %}
                </th>
            </tr>   
        </thead>
        <tbody>
            {%for ranking in rankings %}
            <tr>
                <th class="align-middle">#{{ forloop.counter }}</th>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.threat_by_max_risk.threat.name}}
                </td>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.threat_by_residual_risk.threat.name}}
                </td>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.by_threat.threat.name}}
                </td>      
            </tr>   
            {% endfor %}        
        </tbody>
    </table>
    {% endwith %}
    {% endfor %}
</div>
<div>
    <h3 id="risks_8" class="{{ title_class }}">
        {% translate "Most targeted assets" %}
    </h3>
    {% for service, rankings in risk_data.top_ranking_risks_items.items %}
    {% with color_service=service_color_palette|index:forloop.counter0|safe %}
    <table class="{{ table_class }} smallest-font-size">
        <thead class="thead-light">
            <tr>
                <th rowspan="2"></th>
                <th class="text-center align-middle" colspan="3" 
                    style="color: {% if not forloop.last %}{{ color_service }};{% endif %}">
                    {% if forloop.last %}
                    {{ service }}
                    {% else %}
                    {{ service.name }}
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th class="col-4 text-center align-middle">
                    {% translate "Most targeted asset based on risk level" %}
                </th>
                <th class="col-4 text-center align-middle">
                    {% translate "Most targeted asset based on remaining risk level" %}
                </th>
                <th class="col-4 text-center align-middle">
                    {% translate "Most targeted asset based on asset impact" %}
                </th>
            </tr>   
        </thead>
        <tbody>
            {%for ranking in rankings %}
            <tr>
                <th class="align-middle">#{{ forloop.counter }}</th>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.asset_by_max_risk.asset.name}}
                </td>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.asset_by_residual_risk.asset.name}}
                </td>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.by_asset.asset.name}}
                </td> 
            </tr>   
            {% endfor %}        
        </tbody>
    </table>
    {% endwith %}
    {% endfor %}
</div>
<div>
    <h3 id="risks_9" class="{{ title_class }}">
        {% translate "Most important vulnerabilities" %}
    </h3>
    {% for service, rankings in risk_data.top_ranking_risks_items.items %}
    {% with color_service=service_color_palette|index:forloop.counter0|safe %}
    <table class="{{ table_class }} smallest-font-size">
        <thead class="thead-light">
            <tr>
                <th rowspan="2"></th>
                <th class="text-center align-middle" colspan="3" 
                    style="color: {% if not forloop.last %}{{ color_service }};{% endif %}">
                    {% if forloop.last %}
                    {{ service }}
                    {% else %}
                    {{ service.name }}
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th class="col-4 text-center align-middle">
                    {% translate "Most important vulnerability based on risk level" %}
                </th>
                <th class="col-4 text-center align-middle">
                    {% translate "Most important vulnerability based on remaining risk level" %}
                </th>
                <th class="col-4 text-center align-middle">
                    {% translate "Most important vulnerability based on vulnerability qualification" %}
                </th>
            </tr>   
        </thead>
        <tbody>
            {%for ranking in rankings %}
            <tr>
                <th class="align-middle">#{{ forloop.counter }}</th>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.vulnerability_by_max_risk.vulnerability.name}}
                </td>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.vulnerability_by_residual_risk.vulnerability.name}}
                </td>
                <td class="col-4 lh-sm" style="color: {% if not forloop.parentloop.last %}{{ color_service }};{% endif %}">
                    {{ ranking.by_vulnerability.vulnerability.name}}
                </td> 
            </tr>   
            {% endfor %}       
        </tbody>
    </table>
    {% endwith %}
    {% endfor %}
</div>
<div>
    <h3 id="risks_10" class="{{ title_class }}">
        {% translate "Most used recommendations" %}
    </h3>
    <table class="{{ table_class }} smallest-font-size">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th class="col-4 text-center align-middle">
                    {% translate "Code" %}
                </th>
                <th class="col-4 text-center align-middle">
                    {% translate "Description" %}
                </th>
                <th class="col-4 text-center align-middle">
                    {% translate "Main vulnerabilities reduced" %}
                </th>
            </tr>   
        </thead>
        <tbody>
            {% for recommendation in risk_data.most_recommendations_used %}
            <tr>
                <th class="align-middle">#{{ forloop.counter }}</th>
                <td class="col-4 lh-sm">
                    {{ recommendation.code }}
                </td>
                <td class="col-4 lh-sm">
                    {{ recommendation.description}}
                </td>
                <td class="col-4 lh-sm">
                    <ul class="list-unstyled">
                        {% for risk in recommendation.riskdata_set.all %}
                            <li>{{ risk.vulnerability.name }}</li>
                        {% endfor %}
                    </ul>
                </td> 
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>
<div>
    <h3 id="risks_11" class="{{ title_class }}">
        {% translate "List of recommendations" %}
    </h3>
    <table class="{{ table_class }} smallest-font-size">
        <thead class="thead-light">
            <tr>
                <th class="col-1 text-center align-middle" rowspan="2">
                    {% translate "Code" %}
                </th>
                <th class="col-3 text-center align-middle" rowspan="2">
                    {% translate "Description" %}
                </th>
                <th class="col-1 text-center align-middle" rowspan="2">
                    {% translate "Status" %}
                </th>
                <th class="col-6 text-center align-middle" colspan="3">
                    {% translate "Due date" %}
                </th>
            </tr>
            <tr>
                {% for year in risk_data.years %}
                    <th class="col-2 text-center align-middle">{{ year }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for uuid, recommendation in risk_data.recommendations_evolution.items %}
                <tr>
                    <td class="col-1 align-middle">
                        {{ recommendation.code }}
                    </td>
                    <td class="col-3 align-middle">
                        {{ recommendation.description }}
                    </td>
                    <td class="col-1 text-center align-middle">
                        {{ recommendation.status }}
                    </td>
                    {% for year in risk_data.years %}   
                        {% with recommendation|get_item:year as year_data %}
                            <td class="col-2 text-center align-middle">
                                {% if year_data %}
                                    {{ year_data|date:"SHORT_DATE_FORMAT" }}
                                {% else %}
                                -
                                {% endif %}
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>
