{% extends 'home/base.html' %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load custom_filters %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}
    {% translate "Risk analysis import" %}
{% endblock %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data" onsubmit="load_spinner()">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Submit"|translate %}
    </form>
    
{% endblock %}