{% load i18n %}
<h2 id="incident_details" class="fw-bold text-danger">
    {% translate "Security Measures in place" %}
</h2>
<div>
    <h3 class="fw-bold text-danger">
        {% translate "Sophistication level breakdown" %}
    </h3>
    <div class="col-10 mx-auto py-3">
        <img src="data:image/png;base64,{{ bar_chart }}" class="img-fluid"/>
    </div>
</div>
<div>
    <h3 class="fw-bold text-danger">
        {% translate "Security Objectives ranking by sophistication level" %}
    </h3>
    <table class="table table-sm table-bordered small">
        <thead class="thead-light">
            <tr>
                {% for sophistication_level in sophistication_levels %}
                    <th class="text-center">{{ sophistication_level }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for rows in "1234"|make_list %}
                <tr>
                    {% for sophistication_level in sophistication_levels %}
                        <td>SO {% lorem 10 w random %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h3 class="fw-bold text-danger">
        {% translate "Security Objectives with the highest sophistication level for the sector" %}
    </h3>
    <div class="row">
        {% for year in years %}
        <div class="{% if years|length == 2 %}col-6{% elif years|length == 3 %}col-4{% elif years|length == 4 %}col-3{% else %}col-2{% endif %}">
            <div class="fw-bold">
                {{ year }}
            </div>
            <table class="table table-sm table-bordered small">
                <tbody>
                    {% for securityObjective in "12345"|make_list %}
                    <tr>
                        <th class="col-2 thead-light text-center">
                            # {{ forloop.counter }}
                        </th>
                        <td class="col-10">SO {{ forloop.counter }}: {% lorem 10 w random %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
<div>
    <h3 class="fw-bold text-danger">
        {% translate "Security Objectives with the lowest sophistication level for the sector" %}
    </h3>
    <div class="row">
        {% for year in years %}
        <div class="{% if years|length == 2 %}col-6{% elif years|length == 3 %}col-4{% elif years|length == 4 %}col-3{% else %}col-2{% endif %}">
            <div class="fw-bold">
                {{ year }}
            </div>
            <table class="table table-sm table-bordered small">
                <tbody>
                    {% for securityObjective in "12345"|make_list %}
                    <tr>
                        <th class="col-2 thead-light text-center">
                            # {{ forloop.counter }}
                        </th>
                        <td class="col-10">SO {{ forloop.counter }}: {% lorem 10 w random %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
<div>
    <h3 class="fw-bold text-danger">
        {% translate "Evolution of the Security Objectives since the previous year" %}
    </h3>
    <div class="col mx-auto py-3">
        <img src="data:image/png;base64,{{ radar_chart }}" class="img-fluid"/>
    </div>
    <table class="table table-sm table-bordered small">
        <thead class="thead-light">
            <tr>
                <th class="col-7 text-center">{% translate "Domain" %}</th>
                <th class="col-1 text-center">2023</th>
                <th class="col-1 text-center">2024</th>
                <th class="col-1 text-center">{% translate "Evolution" %}</th>
                <th class="col-1 text-center">{% translate "Sector average" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for so_category in so_categories %}
                <tr>
                    <td>{{ so_category }}</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">-></td>
                    <td class="text-center">0</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<h3 class="fw-bold text-danger">
    {% translate "Evolution of the weakest Security Objectives" %}
</h3>



