{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="{% translate 'Incident report' %}" />
        <title>{% translate "Incident report" %}</title>
        <link rel="stylesheet" href="file:{{ static_dir }}/npm_components/bootstrap-icons/font/bootstrap-icons.css">
    </head>
    <body>
        <div id="page">
            {% include 'reporting/header.html' %}
            {% include 'reporting/footer.html' %}
            {% include 'reporting/cover.html' %}
            {% include 'reporting/toc.html' %}
            <div id="content">
                {% include 'reporting/security_mesures.html' %}
            </div>
        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toc = document.querySelector('.toc');
            const headings = document.querySelectorAll('h2, h3, h4');
            let tocHTML = '';
        
            headings.forEach((heading, index) => {
                const level = parseInt(heading.tagName.substring(1));
                const number = `${'0'.repeat(level - 2)}${index + 1}`;
                tocHTML += `<li class="border-bottom border-secondary pt-1">
                    <a class="text-decoration-none text-reset" href="#${heading.id}">${number}. ${heading.textContent}</a>
                </li>`;
            });
        
            toc.innerHTML = tocHTML;
        });
    </script>
</html>
