{% load i18n %}

<h2 class="toc-heading fw-bold text-danger">{% translate "Table of contents" %}</h2>
<div class="toc pt-3">
    <h2 class="border-bottom border-secondary h6">
        <a class="text-decoration-none text-reset" href="#security_measures"></a>
    </h2>
    <h3 class="border-bottom border-secondary h6 ms-3">
        <a class="text-decoration-none text-reset" href="#security_measures_1"></a>
    </h3>
    <h3 class="border-bottom border-secondary h6 ms-3">
        <a class="text-decoration-none text-reset" href="#security_measures_2"></a>
    </h3>
    <h3 class="border-bottom border-secondary h6 ms-3">
        <a class="text-decoration-none text-reset" href="#security_measures_3"></a>
    </h3>
    <h3 class="border-bottom border-secondary h6 ms-3">
        <a class="text-decoration-none text-reset" href="#security_measures_4"></a>
    </h3>
    <h3 class="border-bottom border-secondary h6 ms-3">
        <a class="text-decoration-none text-reset" href="#security_measures_5"></a>
    </h3>
    <h3 class="border-bottom border-secondary h6 ms-3">
        <a class="text-decoration-none text-reset" href="#security_measures_6"></a>
    </h3>
</div>
<p class="page-break" ></p>
