{% load i18n %}
{% load reporting_filters %}

<h2 class="toc-heading fw-bold text-danger">{% translate "Table of contents" %}</h2>
<ul class="toc list-unstyled pt-3">
    <li class="border-bottom border-secondary">
        <a class="text-decoration-none text-reset" href="#security_measures"></a>
    </li>
    <ul class="list-unstyled ps-4 small">
        {% for index in "6"|range_list %}
        <li class="border-bottom border-secondary pt-1">
            <a class="text-decoration-none text-reset" href="#security_measures_{{ index }}"></a>
        </li>
        {% endfor %}
    </ul>

    <li class="border-bottom border-secondary">
        <a class="text-decoration-none text-reset" href="#risks"></a>
    </li>
    <ul class="list-unstyled ps-4 small">
        {% for index in "11"|range_list %}
        <li class="border-bottom border-secondary pt-1">
            <a class="text-decoration-none text-reset" href="#risks_{{ index }}"></a>
        </li>
        {% endfor %}
    </ul>
    <li class="border-bottom border-secondary">
        <a class="text-decoration-none text-reset" href="#observations"></a>
    </li>
</ul>
<p class="page-break" ></p>
