{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block subheader %}
<div class="container-fluid d-flex bg-light py-2 align-items-center mb-4">
    <div class="hstack me-auto gap-2">
        <img src="{% static 'images/icons/ico-security-objectives.svg' %}" alt="incident notification icon" style="width:30px">
        <h3 class="fw-bolder mb-0">
            {% translate "Security objectives"|upper %}
        </h3>
    </div>
    <div class="hstack gap-4 pe-2">
        <a class="fw-bold" href="{% url 'securityobjectives' %}" onclick="load_spinner()">
            {% translate "Dashboard" %}
        </a>
        {% if is_regulator %}
        <a class="fw-bold import_so_declaration" href="#" data-bs-toggle="modal" data-bs-target="#import_so_declaration">
            {% translate "Import" %}
        </a>
        {% else %}
        <button type="button" class="btn btn-primary create_so_declaration" data-bs-toggle="modal"
            data-bs-target="#create_so_declaration">
            {% translate "New submission" %}
        </button>
        {% endif %}
    </div>
</div>
{% endblock %}
