{% extends "security_objectives/base.html" %}
{% block bootstrap5_title %}
  {{ action }} Security Objective
{% endblock %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% block bootstrap5_extra_script %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/so_declaration.css' %}" />
  <script src='{% static "js/so_declaration.js" %}'></script>
{% endblock %}
{% block content %}
  {% csrf_token %}
  <div class="card border border-0">
    <div class="small card-header py-0 border border-0 bg-transparent">
      <div class="row py-3 gap-2 row-cols-3">
        <div class="col-auto col-xl-3">
          <div class="row gap-1">
            <span class="col fw-bold">{% translate "Submission date" %}</span>
            <div class="col">
              {% if standard_answer.submit_date %}
                {{ standard_answer.submit_date|date:"d/m/y" }}
                <i class="bi bi-clock px-1"></i>
                {{ standard_answer.submit_date|date:"H:i" }}
              {% endif %}
            </div>
          </div>
          <div class="row gap-1">
            <span class="col fw-bold">{% translate "Last update" %}</span>
            <div class="col">
              {{ standard_answer.last_update|date:"d/m/y" }}
              <i class="bi bi-clock px-1"></i>
              {{ standard_answer.last_update|date:"H:i" }}
            </div>
          </div>
        </div>
        <div class="p-0 vr">
        </div>
        <div class="col-auto col-xl-4">
          <div class="row gap-2">
            <button class="col-1 btn p-0 border-0 so_contacts"
                    data-bs-toggle="modal"
                    data-bs-target="#so_contacts"
                    data-contacts='{ "contact_name": "{{ standard_answer.submitter_user.last_name }}", "contact_first_name": "{{ standard_answer.submitter_user.first_name }}", "contact_email": "{{ standard_answer.submitter_user.email }}", "contact_telephone": "{{ standard_answer.submitter_user.phone_number }}"}'>
              <i class="custom-icon-contact h3"></i>
              <span class="visually-hidden">{% translate "Profile" %}</span>
            </button>
            <div class="col">
              <div class="row">
                <span class="col-5 fw-bold">{% translate "Company" %}</span>
                <div class="col-7">
                  {{ standard_answer.submitter_company }}
                </div>
              </div>
              <div class="row">
                <span class="col-5 fw-bold">{% translate "Evaluation Framework" %}</span>
                <div class="col-7">
                  {{ standard_answer.standard }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-0 vr">
        </div>
        <div class="col-auto">
          {% for root_sector in standard_answer.get_no_childrens_sectors %}
            <ul class="m-0 p-0 list-sectors">
              <span class="fw-bolder">
                {{ root_sector.get_safe_translation }}
              </span>
            </ul>
          {% endfor %}
          <ul class="m-0 p-0 list-sectors">
            {% for root_sector in standard_answer.get_root_sectors %}
              <span class="fw-bolder">
                {{ root_sector.get_safe_translation }}
              </span>
              <ul class="list-unstyled">
                {% for sector in root_sector.children.all %}
                  {% if sector in standard_answer.sectors.all %}
                    <li>
                      {{ sector.get_safe_translation }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          </ul>
        </div>
        <div class="col-auto ms-auto">
          <div class="row gap-3 d-flex justify-content-end">
            {% if is_regulator %}
              <button type="button"
                      class="col-auto btn border-0 p-0 review_comment_so_declaration"
                      data-standard-answer-id="{{ standard_answer.id }}"
                      data-only-review-comment="true"
                      data-bs-toggle="modal"
                      data-bs-target="#review_comment_so_declaration">
                {# djlint:off #}
                <i class="{% if standard_answer.status in ',PASS,FAIL,DELIV' %}custom-icon-comments-add
                          {% else %}custom-icon-comments{% endif %} h3"></i>
              </button>
            {% else %}
              {% if standard_answer.review_comment and standard_answer.status in ',PASSM,FAILM,' %}
                <button class="col-auto btn border-0 p-0 review_comment_so_declaration"
                        data-standard-answer-id="{{ standard_answer.id }}"
                        data-bs-toggle="modal"
                        data-bs-target="#review_comment_so_declaration">
                  <i class="custom-icon-comments h3"
                     data-bs-placement="top"
                     data-bs-toggle="tooltip"
                     title="{% translate 'Review comment' %}">
                  </i>
                </button>
              {% else %}
                <button class="col-auto btn border-0 p-0" disabled>
                  <i class="custom-icon-comments-disabled h3">
                  </i>
                </button>
              {% endif %}
            {% endif %}
            <div id="so_status_form" class="col-auto p-0">
              {% for security_objective, maturity_levels in security_objectives.items %}
                <div id="form_status_slide_{{ security_objective.id }}"
                     class="d-none h-100">
                  {% if is_regulator and standard_answer.status in ",PASS,FAIL,DELIV," %}
                    {% bootstrap_field security_objective.status_form.status show_label=False wrapper_class="m-0" %}
                  {% elif standard_answer.status in ",PASS,PASSM,FAIL,FAILM," and security_objective.status.status %}
                    <div class="border rounded border-2 d-flex align-items-center justify-content-center h-100 px-3
                                {% if security_objective.status.status == 'PASS' %}
                                  border-passed
                                {% elif security_objective.status.status == 'FAIL' %}
                                  border-failed
                                {% else %}
                                  border-dark
                                {% endif %}
                                }">
                      <h4 class="m-0 fw-bold
                                 {% if security_objective.status.status == 'PASS' %}
                                   text-passed
                                 {% elif security_objective.status.status == 'FAIL' %}
                                   text-failed
                                 {% else %}
                                   text-dark
                                 {% endif %}
                                 }">
                        {{ security_objective.status.get_status_display }}
                      </h4>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            {% if is_regulator and standard_answer.status in ",PASS,FAIL,DELIV," %}
              <button id="so_send_button"
                      type="button"
                      class="col-auto btn btn-passed review_comment_so_declaration"
                      {% if not standard_answer.ready_to_send %}
                        disabled
                      {% endif %}
                      data-standard-answer-id="{{ standard_answer.id }}"
                      data-bs-toggle="modal"
                      data-bs-target="#review_comment_so_declaration">
                {% translate "Send" %}
                <i class="custom-icon-submit h4"></i>
              </button>
            {% elif standard_answer.status == "UNDE" %}
              <a id="so_submit_button"
                 type="button"
                 href="{% url 'submit_so_declaration' standard_answer.id %}"
                 class="col-auto btn btn-passed
                        {% if not standard_answer.ready_to_submit %}
                          disabled
                        {% endif %}"
                 {% if not standard_answer.ready_to_submit %}
                   disabled
                 {% endif %}>
                {% translate "Submit" %}
                <i class="custom-icon-submit h4"></i>
              </a>
            {% endif %}
            <a type="button"
               class="col-auto btn btn-primary"
               href="{% url 'securityobjectives' %}"
               onclick="load_spinner()">
              {% translate "Close" %}
            </a>
          </div>
        </div>
      </div>
      <div class="hstack d-flex border-top border-3 border-secondary bg-light">
        <div id="security_objective_selector"
             class="col-11 d-none d-xl-flex justify-content-between flex-wrap px-4 py-3">
          {% for security_objective, maturity_levels in security_objectives.items %}
            {% if is_regulator %}
              <button id="reg_{{ security_objective.pk }}"
                      type="button"
                      class="btn btn-sm p-0 rounded-circle slide-selector-container text-white fw-bold small shadow-sm
                             {% if security_objective.status.status == 'PASS' %}
                               btn-passed
                             {% elif security_objective.status.status == 'FAIL' %}
                               btn-failed
                             {% else %}
                               btn-warning
                             {% endif %}"
                      data-bs-target="#security_objectives_carousel"
                      data-bs-slide-to="{{ forloop.counter0 }}">
                {{ forloop.counter }}
              </button>
            {% elif standard_answer.status == "UNDE" or standard_answer.status == "DELIV" %}
             {% if security_objective.status.status == "NOT_REVIEWED" or not security_objective.status %}
              <button id="op_{{ security_objective.pk }}"
                      type="button"
                      class="btn btn-sm p-0 rounded-circle slide-selector-container text-white fw-bold small shadow-sm
                             {% if security_objective.completion_state.is_completed %}
                               btn-passed
                             {% elif security_objective.completion_state.is_partially %}
                               btn-warning
                             {% else %}
                               btn-uninitiated
                             {% endif %}"
                      data-bs-target="#security_objectives_carousel"
                      data-bs-slide-to="{{ forloop.counter0 }}">
                {{ forloop.counter }}
              </button>
              {% else %}
              <button id="op_{{ security_objective.pk }}" 
                      type="button" 
                      class="btn btn-sm p-0 rounded-circle slide-selector-container text-white fw-bold small shadow-sm
                            {% if security_objective.status.status == 'PASS' %}
                              btn-passed
                            {% elif security_objective.status.status == 'FAIL' %}
                              btn-failed
                            {% else %}
                              btn-warning
                            {% endif %}" 
                      data-bs-target="#security_objectives_carousel"
                      data-bs-slide-to="{{ forloop.counter0 }}">
                {{ forloop.counter }}
              </button>
              {% endif %}
            {% else  %}
              <button id="op_{{ security_objective.pk }}"
                      type="button"
                      class="btn btn-sm p-0 rounded-circle slide-selector-container text-white fw-bold small shadow-sm
                             {% if security_objective.status.status == 'PASS' %}
                               btn-passed
                             {% elif security_objective.status.status == 'FAIL' %}
                               btn-failed
                             {% else %}
                               btn-warning
                             {% endif %}"
                      data-bs-target="#security_objectives_carousel"
                      data-bs-slide-to="{{ forloop.counter0 }}">
                {{ forloop.counter }}
              </button>
            {% endif %}
          {% endfor %}
        </div>
        <div class="p-0 bg-secondary vr d-none d-xl-block">
        </div>
        <div class="hstack gap-2 mx-auto">
          <div class="hstack gap-1">
            <button class="col carousel-control-prev position-relative"
                    type="button"
                    data-bs-target="#security_objectives_carousel"
                    data-bs-slide="prev">
              <i class="carousel-control-prev-icon bi bi-arrow-left text-secondary h2"></i>
            </button>
            <button class="col carousel-control-next position-relative"
                    type="button"
                    data-bs-target="#security_objectives_carousel"
                    data-bs-slide="next">
              <i class="carousel-control-next-icon bi bi-arrow-right text-secondary h2"></i>
            </button>
          </div>
          <button type="button"
                  class="btn btn-primary bg-body border-0 p-0"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseLegend"
                  aria-expanded="false"
                  aria-controls="collapseLegend"
                  onclick="save_so_declaration_status_legend()">
            <i class="custom-icon-legend h3 align-self-center"
               alt="legend"
               data-bs-placement="top"
               data-bs-toggle="tooltip"
               title="{% translate 'Icon Guide' %}">
            </i>
          </button>
        </div>
      </div>
    </div>
    <!-- Legend -->
    <div class="my-2">
      <div id="collapseLegend" class="collapse">
        <div class="legend">
          <span class="legend-title">
            {% translate "Legend" %}
          </span>
          <ul class="d-flex justify-content-between list-group list-group-horizontal-xl">
            {% for maturity_levels in security_objectives.values %}
              {% if forloop.first %}
                {% for maturity_level in maturity_levels %}
                  <li class="legend-item d-flex align-items-center small">
                    <h3 class="m-0 pe-3 fw-bolder">
                      {{ maturity_level.level }}
                    </h3>
                    <span>{{ maturity_level }}</span>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="security_objectives_carousel"
           class="carousel slide"
           data-bs-touch="false"
           data-bs-interval="false"
           data-bs-wrap="false">
        <div class="carousel-inner">
          {% for security_objective, maturity_levels in security_objectives.items %}
            <div id="slide_{{ security_objective.id }}"
                 class="carousel-item
                        {% if forloop.first %}
                          active
                        {% endif %}">
              <div class="d-flex align-items-center">
                <div class="me-auto">
                  <h4 class="card-title fw-bold">
                    {{ security_objective.unique_code }}: {{ security_objective.objective }}
                  </h4>
                  <h6 class="card-subtitle mb-3 text-muted">
                    {{ security_objective.description }}
                  </h6>
                </div>
                <div class="col-auto">
                  <div class="d-flex align-items-center justify-content-end">
                    <div id="score_container" class="position-relative">
                      <img src="{% static 'images/icons/ico-score.svg' %}"
                           class="img-fluid"
                           alt="Score ico">
                      <div class="position-absolute top-50 translate-middle fw-bold text-dark start-40">
                        <div class="small">
                          <span id="so-score" class="h5 m-0 fw-bold">{{ security_objective.status.score|default:0|floatformat:1 }}</span>
                          <span>/</span>
                          <span>{{ last_maturity_level }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <table id="declaration_table"
                     class="table table-borderless border-bottom border-2 border-dark">
                <caption class="visually-hidden">
                  {% translate "Table of" %} {{ security_objective.unique_code }}: {{ security_objective.objective }}
                </caption>
                <thead>
                  <tr>
                    <th class="col-auto text-center align-middle">
                      {% translate "Maturity Level" %}
                    </th>
                    <th class="col-2 text-center align-middle">
                      {% translate "Security Measure" %}
                    </th>
                    <th class="col-2 text-center align-middle">
                      {% translate "Evidence" %}
                    </th>
                    <th class="col-auto text-center align-middle">
                      {% translate "Measure Implemented?" %}
                    </th>
                    <th class="{% if is_regulator or security_objective.declaration_status != 'UNDE' %}
                                 col-2
                               {% else %}
                                 col-4
                               {% endif %}
                               text-center align-middle">
                      {% translate "Justification" %}
                    </th>
                    {% if is_regulator or security_objective.review_comment or security_objective.declaration_status != "UNDE" %}
                      <th class="col-2 text-center align-middle">
                        {% translate "Review Comment" %}
                      </th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="small">
                  {% for maturity_level, measures in maturity_levels.items %}
                    {% for measure in measures %}
                      <tr>
                        {% if forloop.first %}
                          <th rowspan="{{ measures|length }}"
                              class="col-auto h3 fw-bolder table-group-divider text-center lh-sm">
                            {{ maturity_level.level }}
                          </th>
                        {% endif %}
                        <td class="col-2 lh-sm
                                   {% if forloop.first %}
                                     table-group-divider
                                   {% endif %}">
                          {{ measure }}
                        </td>
                        <td class="col-2 lh-sm
                                   {% if forloop.first %}
                                     table-group-divider
                                   {% endif %}">
                          {{ measure.evidence|linebreaksbr }}
                        </td>
                        <td class="col-auto align-middle
                                   {% if forloop.first %}
                                     table-group-divider
                                   {% endif %}">
                          <div class="checkbox-is-measure d-flex justify-content-center">
                            {% if forloop.parentloop.first %}
                              {% bootstrap_field measure.answer_form.is_implemented show_label=False wrapper_class="m-0 form-switch" field_class="not-required" %}
                            {% elif forloop.parentloop.last %}
                              {% bootstrap_field measure.answer_form.is_implemented show_label=False wrapper_class="m-0 form-switch" field_class="last_maturity_level_measure" %}
                            {% else %}
                              {% bootstrap_field measure.answer_form.is_implemented show_label=False wrapper_class="m-0 form-switch" %}
                            {% endif %}
                          </div>
                        </td>
                        <td class="{% if is_regulator or security_objective.review_comment or security_objective.declaration_status != 'UNDE' %}
                                     col-2
                                   {% else %}
                                     col-4
                                   {% endif %}
                                   lh-sm
                                   {% if forloop.first %}
                                     table-group-divider
                                   {% endif %}">
                          {% if forloop.parentloop.first %}
                            {% bootstrap_field measure.answer_form.justification show_label=False wrapper_class="m-0" field_class="not-required" %}
                          {% else %}
                            {% bootstrap_field measure.answer_form.justification show_label=False wrapper_class="m-0" %}
                          {% endif %}
                        </td>
                        {% if is_regulator or security_objective.review_comment or security_objective.declaration_status != "UNDE"  %}
                          <td class="col-2 lh-sm
                                     {% if forloop.first %}
                                       table-group-divider
                                     {% endif %}">
                            {% bootstrap_field measure.answer_form.review_comment show_label=False wrapper_class="m-0" %}
                          </td>
                        {% endif %}
                      </tr>
                    {% empty %}
                      <h3>
                        {% translate "No security measures data available." %}
                      </h3>
                    {% endfor %}
                    {% if forloop.last %}
                      <tr>
                        <td colspan="6" class="col-auto table-group-divider pb-0 fw-bolder">
                          {% translate "Planned Measures" %}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="6" class="col-auto">
                          {% bootstrap_field security_objective.status_form.actions show_label=False wrapper_class="m-0" %}
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% empty %}
            <h3>
              {% translate "No security objectives data available." %}
            </h3>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Modal dialogs -->
  <div class="modal fade"
       id="so_contacts"
       data-bs-backdrop="static"
       data-bs-keyboard="false"
       tabindex="-1"
       aria-labelledby="so_contacts_label"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      {% include "modals/so_contacts.html" %}
    </div>
  </div>
{% endblock %}
