{% extends 'home/base.html' %}
{% block bootstrap5_title %}{{ action }} Security Objective{% endblock %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% block bootstrap5_extra_script %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/so_declaration.css' %}" />
<script src='{% static "js/so_declaration.js" %}'></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="card">
  <div class="card-header small d-none d-xl-flex justify-content-between flex-wrap ">
    {% for security_objective, maturity_levels in security_objectives.items %}
    <button type="button" class="btn btn-light btn-sm shadow-sm" data-bs-target="#security_objectives_carousel"
      data-bs-slide-to="{{ forloop.counter0 }}">
      {{ forloop.counter }}
    </button>
    {% endfor %}
  </div>
  <div class="card-body">
    <div id="security_objectives_carousel" class="carousel slide" data-bs-touch="false" data-bs-interval="false"
      data-bs-wrap="false">
      <div class="carousel-inner">
        {% for security_objective, maturity_levels in security_objectives.items %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="d-flex">
            <div class="me-auto">
              <h4 class="card-title">{{ security_objective.unique_code }}: {{ security_objective.objective }}</h4>
              <h5 class="card-subtitle mb-3 text-muted">{{ security_objective.description }}</h5>
            </div>
            {% if is_regulator %}
              <div class="col-2">
                {% bootstrap_field security_objective.status_form.status show_label=False wrapper_class="m-0" %}
                <h5 class="card-subtitle text-center text-muted py-1 m-0">
                  {% translate "Score" %} : {{ security_objective.score|default:0|floatformat:"2" }}
                </h5>
              </div>
            {% endif %}
          </div>
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th class="col-1 text-center align-middle">
                  {% translate "Level" %}
                </th>
                <th class="col-3 text-center align-middle">
                  {% translate "Security Measure" %}
                </th>
                <th class="col-3 text-center align-middle">
                  {% translate "Evidence" %}
                </th>
                <th class="col-1 text-center align-middle">
                  {% translate "Measure in place ?" %}
                </th>
                <th class="{% if is_regulator or security_objective.declaration_status != 'UNDE' %}col-2{% else %}col-4{% endif %} text-center align-middle">
                  {% translate "Justification" %}
                </th>
                {% if is_regulator or security_objective.declaration_status != "UNDE" %}
                <th class="col-2 text-center align-middle">
                  {% translate "Review Comment" %}
                </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for maturity_level, measures in maturity_levels.items %}
                {% for measure in measures %}
                <tr>
                  {% if forloop.first %}
                  <th rowspan="{{ measures|length }}" class="col-1 table-group-divider text-center align-middle lh-sm">
                    {{ maturity_level }}
                  </th>
                  {% endif %}
                  <td class="col-3 lh-sm {% if forloop.first %}table-group-divider{% endif %}">
                    {{ measure }}
                  </td>
                  <td class="col-3 lh-sm {% if forloop.first %}table-group-divider{% endif %}">
                    {{ measure.evidence|linebreaksbr }}
                  </td>
                  <td class="col-1 align-middle {% if forloop.first %}table-group-divider{% endif %}">
                    <div class="checkbox-is-measure d-flex justify-content-center">
                      {% bootstrap_field measure.answer_form.is_implemented show_label=False wrapper_class="m-0" %}
                    </div>
                  </td>
                  <td class="{% if is_regulator or security_objective.declaration_status != 'UNDE' %}col-2{% else %}col-4{% endif %} lh-sm {% if forloop.first %}table-group-divider{% endif %}">
                    {% if forloop.parentloop.first %}
                    {% bootstrap_field measure.answer_form.justification show_label=False wrapper_class="m-0" field_class="not-required" %}
                    {%else %}
                    {% bootstrap_field measure.answer_form.justification show_label=False wrapper_class="m-0" %}
                    {% endif %}
                  </td>
                  {% if is_regulator or security_objective.declaration_status != "UNDE" %}
                  <td class="col-2 lh-sm {% if forloop.first %}table-group-divider{% endif %}">
                    {% bootstrap_field measure.answer_form.review_comment show_label=False wrapper_class="m-0" %}
                  </td>
                  {% endif %}
                </tr>
                {% empty %}
                <h3>{% translate "No security measures data" %}</h3>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% empty %}
        <h3>{% translate "No security objectives data" %}</h3>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="card-footer p-3">
    <div class="d-flex justify-content-center">
      <a class="carousel-control-prev position-relative" type="button" data-bs-target="#security_objectives_carousel"
        data-bs-slide="prev">
        <i class="carousel-control-prev-icon bi bi-caret-left-fill text-primary h1"></i>
      </a>
      <a class="carousel-control-next position-relative" type="button" data-bs-target="#security_objectives_carousel"
        data-bs-slide="next">
        <i class="carousel-control-next-icon bi bi-caret-right-fill text-primary h1"></i>
      </a>
    </div>
  </div>
</div>
</div>
{% endblock %}