{% extends 'home/base.html' %}
{% block bootstrap5_title %}Security Objectives{% endblock %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load SO_custom_filters %}
{% load django_bootstrap5 %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script src='{% static "js/so_dashboard.js" %}'></script>
{% endblock %}


{% block content %}
<div class="d-flex">
    {% if not is_regulator %}
    <div class="me-auto">
        <a role="button" class="btn btn-primary btn-sm select_so_standard" data-bs-toggle="modal" data-bs-target="#select_so_standard">
            {% translate "New declaration" %}
        </a>
    </div>
    {% endif %}
    <button class="btn btn-primary btn-sm ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters"
        aria-expanded="false" aria-controls="collapseFilters">
        {% translate "Filter" %}
        {% if is_filtered %}
        <span>
            ({% translate "Applied" %})
        </span>
        {% endif %}
        <i class="bi bi-funnel-fill"></i>
    </button>
</div>
<div class="my-2">
    <div id="collapseFilters" class="collapse">
        <form method="get">
            <div class="row">
                <div class="col-3">
                    {% bootstrap_field filter.form.standard %}
                </div>
                <div class="col-3">
                    {% bootstrap_field filter.form.year_of_submission %}
                </div>
                <div class="col-3">
                    {% bootstrap_field filter.form.status %}
                </div>
                <div class="col-3">
                    {% bootstrap_field filter.form.submitter_company %}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger btn-sm" type="submit" name="reset" value="true">
                    {% translate "Reset" %}
                </button>
                <input class="btn btn-primary btn-sm ms-2" type="submit" value='{{_("Search")}}' />
            </div>
        </form>
    </div>
</div>

{% if filter.qs %}
<table id="securityobjectives-table" class="table align-middle table-sm small">
    <thead>
        <tr>
            <th class="col-2">{% translate "Creation date" %}</th>
            <th class="col-2">{% translate "Standard" %}</th>
            <th class="col-1">
                {% if not is_regulator %}
                {% translate "Creator" %}
                {% else %}
                {% translate "Company" %}
                {% endif %}
            </th>
            <th class="col-1">{% translate "Year" %}</th>
            <th class="col-2">{% translate "Progress" %}</th>
            <th class="col-2">{% translate "Status" %}</th>
            <th class="col-1">{% translate "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for standard in standard_answers %}
        <tr>
            {% timezone "Europe/Paris" %}
            <td class="col-2 table-group-divider">{{standard.standard_notification_date|date:"d M Y, H:i" }}</td>
            {% endtimezone %}
            <td class="col-2 table-group-divider">{{standard.standard.label}}</td>
            <td class="col-1 table-group-divider">
                {% if not is_regulator %}
                {{ standard.creator_name }}
                {% else %}
                {{ standard.creator_company_name }}
                {% endif %}
            </td>
            <td class="col-1 table-group-divider">{{standard.year_of_submission}}</td>
            <td class="col-2 table-group-divider">
                <div class="progress w-75">
                    {% with progress_value=standard.answered_percentage|default:0|floatformat:'0' %}
                    <div class="progress-bar progress-bar-striped {% if progress_value == '100' %}bg-success{% endif %}"
                        role="progressbar" 
                        style="width: {{ progress_value }}%"
                        aria-valuenow="{{ progress_value }}" 
                        aria-valuemin="0" aria-valuemax="100">
                      <span class="small">
                        {{ progress_value }}%
                      </span>
                    </div>
                    {% endwith %}
                </div>
            </td>
            <td class="col-2 table-group-divider">{{standard.get_status_display}}</td>
            <td class="col-1 table-group-divider">
                <div class="d-flex align-items-center">
                    {% if not is_regulator %}
                    <a class="btn border-0 px-2 {% if not standard.status == 'UNDE' %}text-secondary disabled{% else %}text-primary{% endif %}" 
                        href="{% url 'so_declaration' %}?id={{ standard.id }}"
                        title="Edit"
                        {% if not standard.status == 'UNDE' %}aria-disabled="true" disabled{% endif %}>
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    {% else %}
                    <a class="btn border-0 px-2 {% if standard.status == 'UNDE' %}text-secondary disabled{% else %}text-primary{% endif %}" 
                        href="{% url 'so_declaration' %}?id={{ standard.id }}"
                        title="Review"
                        {% if standard.status == 'UNDE' %}aria-disabled="true" disabled{% endif %}>
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    {% endif %}                    
                    <a class="btn border-0 px-2 text-primary " 
                        href="{% url 'download_so_declaration_pdf' standard.id %}"
                        title="Download">
                        <i class="bi bi-filetype-pdf"></i>
                    </a>
                    {% if not is_regulator %}
                    <button class="btn border-0 px-2 text-primary copy_so_declaration"
                        data-standard-answer-id="{{ standard.id }}"
                        data-bs-toggle="modal"
                        data-bs-target="#copy_so_declaration"
                        title="Copy">
                        <i class="bi bi-copy"></i>
                    </button>
                    <a class="btn border-0 px-2 {% if standard.answered_percentage < 100 or not standard.status == 'UNDE' %}text-secondary disabled{% else %}text-success{% endif %}" 
                        href="{% url 'submit_so_declaration' standard.id  %}"
                        title="Submit"
                        aria-disabled="true">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                    </a>
                    <button class="btn border-0 px-2 delete_so_declaration {% if not standard.status == 'UNDE' %}text-secondary{% else %}text-danger{% endif %}"
                        data-standard-answer-id="{{ standard.id }}"
                        data-delete-url="{% url 'delete_so_declaration' 0 %}"
                        data-bs-toggle="modal"
                        data-bs-target="#delete_so_declaration"
                        title="Delete"
                        {% if not standard.status == 'UNDE' %} disabled{% endif %}>
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                    {% endif %}                    
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div >
    {% if standard_answers.has_other_pages %}
        <ul class="pagination">
        {% if standard_answers.has_previous %}
            <li><a href="?{% url_replace request 'page' standard_answers.previous_page_number %}" class="page-link">&laquo;</a></li>
        {% else %}
            <li class="page-link disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in standard_answers.paginator.page_range %}
            {% if standard_answers.number == i %}
                <li class="page-link active"><span>{{ i }} <span class="sr-only">
            </span></span></li>
            {% else %}
                <li class="page-link"><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if standard_answers.has_next %}
            <li><a class="page-link" href="?{% url_replace request 'page' standard_answers.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="page-link disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
 {% endif %}
</div>
{% else %}
<p>{% translate "No security objectives declaration" %}</p>
{% endif %}

<!-- Modals -->

<div class="modal fade" id="delete_so_declaration" data-bs-backdrop="static"
data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete_so_declaration_label"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        {% include "modals/delete_so_declaration.html" %}
    </div>
</div>

<div class="modal fade" id="copy_so_declaration" data-bs-backdrop="static"
data-bs-keyboard="false" tabindex="-1" aria-labelledby="copy_so_declaration_label"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    </div>
</div>
{% endblock %}
